[2018-06-30 19:17] Captainkirkdawson commented on #1442
@Sherlock21 it was a suggestion from @AlOneill not me.

I had definitely been inclined to follow that suggestion for the common fields.

However I seem to have run into a size limitation that may force a different solution.

[2018-07-01 00:55] Captainkirkdawson commented on #1442
A first draft of the extended baptism fields document
https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/extended-baptism-fields-draft#baptisms

[2018-07-01 08:01] edickens commented on #1447
Do the programmers have the information they need?  This is needed as soon as possible.
Thanks
EricD

[2018-07-01 13:19] Captainkirkdawson commented on #1447
Yes but story is still in incoming and not flagged as urgent

[2018-07-01 21:47] AlOneill commented on #1442
@Captainkirkdawson Thanks.

To make for more pleasant reading, the markup needs a bit of an overhaul — I will need to do this offline, in a proper editor. When I take a copy of the page, probably in the next few days, I will leave a note at the top warning that any edits made in Refinery will be overwritten when I paste in the offline edits. If there is no such warning present, then you may edit f

[2018-07-02 09:40] DeniseColbert opened #1494 "Volunteer Coordinator should have the ability to destroy Volunteering Question contacts"
Jo cannot currently destroy (delete) volunteering contacts

[2018-07-02 10:09] SteveBiggs commented on #1494
More fundamentally, she cannot see volunteering contacts at all in her contacts list. They should be included as part of her dual role as Volunteer Coord.

[2018-07-02 13:29] Captainkirkdawson commented on #1447
Unsure of the purpose of the last comment or how it is applicable to the story

[2018-07-02 14:02] Captainkirkdawson commented on #1442
@AlOneill have added your styling to the pages

[2018-07-02 15:04] AlOneill commented on #1442
@Captainkirkdawson Thanks. Still a couple of issues — will solve offline.

[2018-07-02 15:48] #1332 closed

[2018-07-02 16:22] Captainkirkdawson commented on #1442
Have completed marriages

[2018-07-02 17:42] Captainkirkdawson commented on #1442
Have completed burials

[2018-07-02 17:46] Captainkirkdawson commented on #1442
@SteveBiggs @edickens  @Sherlock21

The 4 new flexible csv format and the extended field pages are drafted.

@AlOneill is editing styling and formatting

https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/flexible-csv-format-draft

https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/extended-baptism-fields-draft

https:

[2018-07-02 17:49] Captainkirkdawson commented on #1462
The links are in the various pages so this may be closed

[2018-07-02 17:49] #1462 closed

[2018-07-02 17:52] Captainkirkdawson commented on #1459
@Sherlock21  Can you please test this feature again. If OK we can move to test of the whole flexible and extended fields system prior to release

[2018-07-02 18:06] AlOneill commented on #1442
Question: are the 2 systems, flexible and fixed, going to be used alongside each other, or does flexible replace fixed?

[2018-07-02 18:14] Captainkirkdawson commented on #1442
@AlOneill they can and will coexist. BUT once a batch uses flexible it cannot go back

[2018-07-02 19:04] Sherlock21 commented on #1447
My involvement arises because I tried to correct an error in the Register Type in a batch, using the tools I ahem used for years.
Only to find I have now created an empty row in the table for Tickhill - which I can't get rid of due to the inability to untangle the images. The result looks bad. - Tidyness has been one of my objectives from the start, and clean up as we go along has been my goal sin

[2018-07-02 19:29] Sherlock21 commented on #1459
Are we working in T2T 3 for this please?

[2018-07-02 19:47] Captainkirkdawson commented on #1459
T2

Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

On 2 July 2018 at 13:29, Sherlock21 <notifications@github.com> wrote:

[2018-07-02 20:06] Sherlock21 commented on #1459
In T2
Test of an existing BA file was correct.
Testing of an existing BU file was also correct.

I have had to upload a new MA file, and that's stuck in processing. So can't complete job yet.
/This will also act as a 2 way test of course.

I will tag the MA report on when its done.

[2018-07-02 22:07] Captainkirkdawson commented on #1461
There was a legacy message from the physical files reprocessing submission.
There is no overnight processing.
Message changed and deployed to master

[2018-07-02 22:20] Captainkirkdawson commented on #1454
Based on all my testing I can find no situation in which a syndicate name change is not promulgated to all members of the syndicate.
There is no promulgation of a syndicate coordinator change if the syndicate name remains unchanged as the syndicate coordinator is not stored in the userid.
There is no promulgation of a county coordinator change or a county name change as neither is stored in the us

[2018-07-03 08:17] edickens commented on #1454
Yes.  Close this.  Many more important things.

[2018-07-03 13:44] #1454 closed

[2018-07-03 16:54] Captainkirkdawson opened #1495 "18 Review server setup"
On July 2 we had a data center failure that took our 3 of our servers. While we remained serving most users some were impacted. We should review our structure and see if it can be improved.
Priority (0 6 7 5) 18

[2018-07-03 21:43] Captainkirkdawson commented on #1489
This crash is caused by an orphan entry. The search_record and entry are still present but the batch that they were part of has been deleted.

[2018-07-03 22:22] Captainkirkdawson commented on #1491
Likely associated with the changes in the story #1380

[2018-07-03 22:41] Captainkirkdawson commented on #1489
Added test so we do not display an orphan record

[2018-07-03 22:49] Captainkirkdawson commented on #1492
Somehow someone found a way to enter a value into our bot trap
Propose to ignore

[2018-07-04 15:16] SteveBiggs commented on #1485
Looks good to me too.

[2018-07-04 15:47] richpomfret commented on #1448
Ready for production.

[2018-07-04 15:47] richpomfret commented on #1485
Done and on production.

[2018-07-04 15:47] #1485 closed

[2018-07-04 15:49] richpomfret commented on #1492
Super rare case so closing.

[2018-07-04 15:49] #1492 closed

[2018-07-04 16:06] richpomfret commented on #1230
@DeniseColbert to mock up how this will work (flow diagram).

[2018-07-04 16:08] richpomfret commented on #1380
@SteveBiggs to test.

[2018-07-04 16:11] richpomfret commented on #1456
Ready to push to Test3.

[2018-07-04 16:18] richpomfret commented on #1371
@DeniseColbert add in proofreading checklist.

[2018-07-04 16:19] PatReynolds commented on #1371
@patreynolds to check that the process is documented as : make a new page, and name it DRAFT, - not "make a Draft page", as that creates a page that cannot usefully be viewed.

[2018-07-04 17:52] Captainkirkdawson opened #1496 "Check validations for new fields"

[2018-07-04 21:15] SteveBiggs opened #1497 "Report an Error in Data button didn't work"
From a researcher:

I found another error shortly before I got this reply and, when I tried to us the "Report an Error in this Data" on the record (as you suggest I do with my original email (this issue) back at the end of May, it seemed to not work. I filled in all the fields as requested and clicked "Submit". The page refreshed and I got the same page as before with the addition of a "Nature of

[2018-07-04 22:00] SteveBiggs commented on #1380
Tested on test3 and seems to work fine. I would like to get this into production asap together with the original subject of this story - ability to reply within the message system.

[2018-07-05 09:24] edickens opened #1498 "Information about "Review batches by filename""
Priority (0 2 3 6) 11

[2018-07-05 09:28] edickens commented on #1498
The description of the Register Type in this report varies for the same Register Type.
![Capture.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/542531935e93a002006d0247/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51f02e7384e671e6162351580d4bac43585f45ffac8928f0a42062c80d55b98e30063e937f03a6aa8316b500bf238b488db4bb8c44c8ea3f37aa.JPG)
If one is OT and

[2018-07-06 00:42] Captainkirkdawson opened #1499 "Add True to options"
A number of logical entries permit Y Yes as options we should expand to include true

[2018-07-06 09:08] richpomfret commented on #1246
Replaced with #1097 (more specific cookie story).

[2018-07-06 09:08] #1246 closed

[2018-07-06 09:21] PatReynolds commented on #1470
A lot indeed.  Is this story still dependent on  #525 or will separate fix in generating prettified urls may suffice?

[2018-07-06 14:41] DeniseColbert commented on #1230
See https://docs.google.com/drawings/d/1VNtciOqrK7LIZxItihDO9Ey5tvY4vi-kkAKBkZVztBA/edit?usp=sharing

[2018-07-06 16:37] AlOneill commented on #1442
@Captainkirkdawson Thanks.

Next question: am puzzled by _status field — if _condition field is for marital status, what kind of status goes in the _status field? Standing wrt  'church' ?? (No examples are given in baptisms.)

[2018-07-06 19:05] Captainkirkdawson commented on #1442
@PatReynolds @SteveBiggs
Alison raises a breate question. The reason I did not enter an example was I did not understand what the field was all about. Perhaps you can clarify.

https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/extended-marriage-fields-draft

[2018-07-06 22:17] SteveBiggs commented on #1442
Sorry I don't understand the question. Which field are you asking about? Is this in marriages or baptisms?

[2018-07-06 23:41] AlOneill commented on #1442
@SteveBiggs I was asking about the baptism fields: person_condition and person_status

If person_condition is for recording marital status, then what goes in person_status?

https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/extended-baptism-fields-draft#bapQ and following field

[2018-07-07 10:38] SteveBiggs commented on #1442
Person status - e.g. Illegitimate, Twin, etc.

[2018-07-07 16:29] Captainkirkdawson commented on #1433
These records can be recorded in the baptism record using the new extended fields,

[2018-07-07 20:34] AlOneill commented on #1442
@SteveBiggs So, if we describe the field contents as  anything to do with the person's status in their family, does that about cover it?

[2018-07-08 11:28] SteveBiggs commented on #1442
Yes that should work, and give the examples.

[2018-07-08 11:37] SteveBiggs commented on #1433
Perhaps, but if it is a confirmation (only) event, there is no immediately associated baptism. Would a researcher necessarily search baptisms when looking for a confirmation? (Bearing in mind that the confirmation is likely to be several years or even decades after the baptism).  I guess if we added a note to state this, it could work.

[2018-07-08 18:59] SteveBiggs opened #1500 "Batch header credit text does not get added to Register Table with correct Capitalisation"
refer to batch: ericb (WRYTADBA1.csv)  - its in the Transcripts set of Registers -

My batch header has the following text in the Credit field:-

Originally transcribed by CW Sellars for Tadcaster Historical Society.  Adapted for FreeReg by E Booker

 by the time it gets into the Sumary table of data, and it the column header, it looked like this (noting the capitals) :-

[2018-07-08 19:01] SteveBiggs commented on #1500
![image](https://user-images.githubusercontent.com/25303607/42422976-8ccfc65e-82e9-11e8-88bf-a40041c86d7e.png)
The errors are:- CW Sellars gets converted into Cw Sellars
and Tadcaster History Society looses the initial capital T.
And  on the other hand,  By For  get capitalised by error.

In this case, it matters, because this is the agreed public credit text that I undertook to use in exchange fo

[2018-07-10 02:54] benwbrum commented on #1143
This feature has been implemented in a feature branch and needs to be ported to `freecen_parsing`, since FreeCEN is currently the only project that actually contains open records.

The following screenshots describe a hypothetical future in which several contributors from four FreeREG counties have agreed to make their data open.

New "Open" root URL displays counties for which open datasets exist

[2018-07-10 13:15] DeniseColbert commented on #1371
Suggestions made to existing 'fit for purpose' checklist

[2018-07-11 14:32] Vino-S commented on #1380
Hi @SteveBiggs , The ability to reply within message system is already implemented. It requires testing. Code is running in test3.

[2018-07-11 15:16] SteveBiggs commented on #1380
@Vino-S the ability to reply to Feedbacks is there but I cannot see it for Contacts?

[2018-07-11 16:50] Vino-S commented on #1380
Ah. Apologies @SteveBiggs . I have not implemented the Reply system for Contacts.
 I have implemented the Reply system for the messages that user receives. Below is the link:
https://test3.freereg.org.uk/messages/userid_messages

[2018-07-11 21:33] SteveBiggs commented on #1380
What we urgently need is the ability for coordinators to be able to reply to Contacts for their county in the website Contacts system.

[2018-07-12 14:34] Captainkirkdawson commented on #1143
I had commented earlier but it appears to have disappeared.
The  proposed implementation puzzles me. My understanding of browsing is that one is able to view things  in a collection in an unstructured manner. In the case of our records it is to be able to view the next or previous or a near neighbour from any starting point. ie next previous and near neighbour refer to **entries** in the register

[2018-07-12 15:19] Sherlock21 commented on #1143
I am inclined to agree with Kirk here.
And to refer back to my previous post, which still remains substantially unanswered in sufficient detail.
My basic question is:
Are you referring to  a Transcriber's Batch of data?
OR to an Image of the Original Register or whatever was the basis of the Transcription?

It may be that both are in fact Open Date but equally,  it may be that one is, and one is n

[2018-07-13 08:18] PatReynolds commented on #1143
I don't think we should do any more work on this until we are capable of fully knowing whether a record is open or not.

[2018-07-13 09:07] edickens commented on #1143
There are 58,000 batches.  How are we going to mark records as Open Data or not?  At present the default is "Not Open".
For the future, perhaps when a transcriber uploads and completes a batch they can mark it as Open or Not Open, with the default being what they have indicated in their profile under their acceptance of the Agreement?

[2018-07-13 11:15] PatReynolds commented on #1143
Hi Eric, that is #525

[2018-07-14 07:09] Sherlock21 opened #1501 "My Batch view shows RED error, but then says: there is no error when I try to find it."
Batch concerned is ericb.DEVSBYPGBA3.csv
There were 2 date errors in a version of this batch yesterday. I corrected them online from ER in my Batches.
Later yesterday, i uploaded a later version of the same batch ( with more records in it). I did not check last evening.
Today, I see the RED ER clue in My Batches listing for this same batch name again, but when try to use the Correct Errors button

[2018-07-14 15:43] Captainkirkdawson commented on #1386
We are not in compliance with our security policy

[2018-07-14 19:40] Captainkirkdawson commented on #1484
@SteveBiggs  Bev has developed the code for this, it is running on test3. Would you please test to see if it meets your expectation

[2018-07-15 03:22] Captainkirkdawson commented on #1499
Deployed to test2.

PRIVATE_BAPTISM_OPTIONS = ['y','yes', 'private', 'true', 'private baptism']

MARRIAGE_BY_LICENCE_OPTIONS = ['y', 'yes', 'licence', 'by licence', 'by_licence', 'marriage_by_licence','true']

MARKED_OPTIONS = ['y', 'yes','marked','true']

[2018-07-15 12:07] SteveBiggs commented on #1484
I submitted three groups to myself as SC and clicked 'Accept All Assignments' and it returned this:

![image](https://user-images.githubusercontent.com/25303607/42733787-a378d56c-882f-11e8-885a-a4291146b214.png)

[2018-07-15 12:09] SteveBiggs commented on #1484
Can @bev-fc also provide an 'Accept All' for the CC to accept as complete? Thanks

[2018-07-15 15:08] bev-fc commented on #1484
@Captainkirkdawson can you either deploy it to test2 or increase my account's privilege? I do not get error Steve got on my machine, my account on test3 is technical, hard to guess what's going on.

[2018-07-15 17:46] Sherlock21 commented on #1499
Kirk

Now we are cooking with gas….

I have completed testing Marriages files and both in the positive sense and the negative sense, this works correctly :( ie: as I expect)

Progressed to Baptisms: If you are watching the system emails, you will see I/ had a slight snag to start with - of my own making due to forgetting to get the Register code right!

However: all ended well - again in both sens

[2018-07-15 19:36] bev-fc commented on #1484
@Captainkirkdawson %2F is decoded to / on test3, is it a config issue?

[2018-07-16 09:55] PatReynolds commented on #1386
Hi Kir, deleted your comment but it is noted and will raise in discussion with Rich in 5 mins!

[2018-07-16 14:15] Captainkirkdawson commented on #1499
Thanks Eric that is the complete set I believe although Alison has
suggested an addition

Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

On 15 July 2018 at 11:46, Sherlock21 <notifications@github.com> wrote:

[2018-07-16 14:19] Captainkirkdawson commented on #1499
Alison suggests adding private_baptism

[2018-07-16 14:22] Captainkirkdawson commented on #1484
@bev-fc Could you point me to the code involves

[2018-07-16 15:57] PatReynolds commented on #1147
Needs deployment

[2018-07-16 18:37] Sherlock21 commented on #1499
Ah, I see what you mean now.

I: dont see why its a feature which is only available on online Edit. - it needs to work from a new Spreadsheet on upload.

I just tested out the options on a new upload:

All work correctly EXCEPT private_baptism which gives the result: false.

Maybe its my underscore char??
in which case i would take the easy option and remove it from the options since the field is

[2018-07-16 19:13] Captainkirkdawson commented on #1499
I had not coded private_baptism yet. These options are only for file loads. On line can be a pure boolean

[2018-07-16 21:13] Captainkirkdawson commented on #1496
Added validations

[2018-07-16 21:13] #1496 closed

[2018-07-17 13:57] Captainkirkdawson commented on #1473
Testing of all identified issues and improvements is now complete and available on test2.

@SteveBiggs @edickens we need an extended test of the flexible csv and the new fields prior to deployment.

Initial documentation is at

https://test3.freereg.org.uk/cms/information-for-transcribers/entering-data-from-registers/flexible-csv-format-draft
https://test3.freereg.org.uk/cms/information-for-transc

[2018-07-17 18:11] AlOneill commented on #1230
It seems that the proposed flow, including a 'back' button (for an already answered question), would require the FAQ pages to be part of the app rather than in Refinery, with all links to 'Contact us' being forms, since they would need to carry information re the starting page.

[2018-07-18 10:08] smrr723 commented on #1456
On test3 with #1426 currently - needs testing.

[2018-07-18 10:09] smrr723 commented on #1426
on Test3 now ready for testing, with Issue #1456

[2018-07-18 14:49] benwbrum opened #1502 "Researchers can browse open records"
This issue is forked from #1143, where @Captainkirkdawson and @edickens have done a thorough job of describing the interface for a researcher to page through register entries.

[2018-07-18 14:54] Captainkirkdawson commented on #1426
@smrr723  could you give me a hint as to how we get access to this capability please

[2018-07-18 14:55] benwbrum commented on #1143
I did a very poor job describing what was being attempted here.  We have in the past discussed an interface to let researchers browse records in a register (if they are permitted to do so), and @Captainkirkdawson and @edickens have described that very effectively and pointed out the difference between this search-engine-facing interface and that human-facing register browsing tool.

What I've been

[2018-07-18 15:29] Captainkirkdawson commented on #1426
Ah; I was expecting an option that displayed those userids with a secondary role

[2018-07-18 15:30] benwbrum commented on #1143
That may be a much better approach to managing the issue, since the discussions are here.  On further reflection, it doesn't look like I was successful in tagging my commits with this issue number, so there's not much point in keeping this issue about machines.  Will rename both issues.

[2018-07-18 15:33] #1502 closed

[2018-07-18 15:42] richpomfret commented on #1499
Will be added as part of flexible csv branch.

[2018-07-18 15:42] #1499 closed

[2018-07-18 16:02] benwbrum commented on #1144
This has been implemented in the same branch as the search engine work, and should be tested at the same time.

[2018-07-19 09:43] Vino-S commented on #1494
Hi @SteveBiggs ,
The code is ready for testing in test3.

[2018-07-19 13:11] Vino-S commented on #1494
Hi @SteveBiggs , Jo has both CC and VC roles in test3. So she able to test the code changes in test3.

[2018-07-19 14:04] Captainkirkdawson commented on #1435
@benwbrum master already has changes to the detail record page layout and buttons with their text, Please no NOT change these.

[2018-07-19 14:09] Captainkirkdawson commented on #1435
![detail.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ecbbfc82b317f7d9ad93dc/125516c66e82c728ace21e0d46ec918e228b8febc3abaf51ab57f5973d047d317c57a6287180ba71eb1a2b560d5a4eae41585e47a9f98a7db4aa2e32db025fb28c341521842f1bbeb98a15be04b9228b4f8cb5b5884bc2e12f68.JPG)

[2018-07-19 16:57] Vino-S commented on #1380
Hi @SteveBiggs , implemented the ability for coordinators to reply to Contacts. Running in test3.

[2018-07-19 19:41] SteveBiggs commented on #1380
@Vino-S I tried replying to a contact that was already there and it returned the error page:

![image](https://user-images.githubusercontent.com/25303607/42966147-224e9fea-8b94-11e8-90fc-cd17e020ca85.png)

[2018-07-19 20:18] SteveBiggs commented on #1456
The wording on test3 is the same as production, i.e.  "we will not share them with any outside organisation."

[2018-07-19 20:38] Vino-S commented on #1380
Hi @SteveBiggs , fixed the code and updated it in test3

[2018-07-19 23:51] smrr723 commented on #1456
Sorry Steve - pulled this off test3 today to let Vino push her code up before she leaves.  I've merged this issue into production since it was a text-only edit - changes should now be reflected here [https://www.freereg.org.uk/userid_details/transcriber_registration?](https://www.freereg.org.uk/userid_details/transcriber_registration?).

[2018-07-20 08:16] SteveBiggs commented on #1456
OK, looks good on production.

[2018-07-20 08:18] SteveBiggs commented on #1494
Jo has confirmed that she can now see the Volunteering Questions in her Contacts on test3.

[2018-07-21 13:57] Sherlock21 commented on #1501
If this is in Ready state as indicated, please can you get it  input or whatever is next, so it clears this snag in my list of batches.

[2018-07-21 14:22] Captainkirkdawson commented on #1501
Eric. That just means that the issue is documented well enough. There are 260+ issues in that status. It could be quite some time before it gets actioned.!

[2018-07-23 13:45] DeniseColbert opened #1505 "Automatic email to remind new volunteers to complete sign-up"
Sent a reasonable amount of time after registration (3 days? 5 days?)

[2018-07-23 13:47] DeniseColbert opened #1506 "Automated Training Epic"
Training section for new transcribers in members area

[2018-07-23 14:37] DeniseColbert opened #1507 "Seek backup contact details for Coordinators"
To aid communication. Possibly for transcribers too

[2018-07-23 14:52] DeniseColbert opened #1508 "Place contact details page in Members area"
Steve requested this to aid communication.

Would include Steve, Eric D, Jo and Eric B email addresses. Possibly some of support team?

[2018-07-23 14:56] Captainkirkdawson commented on #1507
The system stores that information so this story involves a personal effort in getting that information for  existing coordinators if not available

[2018-07-23 15:47] DeniseColbert opened #1509 "Add into Transcriber Help and/or FAQ what to do if you haven't heard from your coordinator"

[2018-07-23 16:04] DeniseColbert opened #1510 "Welcome email to new transcribers to include Steve & Eric's email addresses and invitation to join Transcribers Group (forum)"

[2018-07-23 17:05] #1456 closed

[2018-07-24 01:09] Captainkirkdawson opened #1511 "23P Deploy UCF"
Progress/implement UCF AFTER reviewing possible KO effects to performance
needs #1134
needs #1178
required by #1135
needs #1259

Priority 23 (1	4	10	8)

[2018-07-24 07:55] edickens commented on #1510
No.  Email addresses should not be put here.  The reason is not security, but the person answering may change and we do not want to have to then make a program change.
Why would they need to contact Steve and myslef?  It should be the Coordinator.  My only suggestion is that if they do not ger ta reply say within a week, then they should have a link that they can use to contact management via the

[2018-07-24 08:46] SteveBiggs commented on #1510
Good point Eric. We need to give the new transcriber an easy way to contact someone else in the event that the coord does not get back to them. Perhaps the welcome email should state something like - "Your coordinator will be in touch, but if you do not hear from them within a week, please go to the website here xxxx where you will find details of who to contact."

[2018-07-24 10:35] smrr723 commented on #1380
Deployed to production.

[2018-07-24 11:00] smrr723 commented on #1494
Deployed to production.

[2018-07-24 11:08] smrr723 commented on #1491
Issue #1380 has been deployed and Vino confirmed this issue is now resolved as a result.

[2018-07-24 13:04] #1494 closed

[2018-07-24 13:05] #1491 closed

[2018-07-24 13:46] DeniseColbert commented on #1452
If training is required, can volunteer be placed directly into the training syndicate? If training isn't required, they would go into the syndicate of the county they selected.

[2018-07-24 15:32] SteveBiggs commented on #1380
I just replied to a contact and although the email appears to have gone, I was sent to an error page when I clicked send:

![image](https://user-images.githubusercontent.com/25303607/43149316-1017bebe-8f5f-11e8-8063-19ac400181e2.png)

[2018-07-24 15:53] edickens commented on #1380
That sounds much like what I got when sending to DOR syndicate members.

![capture](https://user-images.githubusercontent.com/8876165/43150447-dd66658a-8f61-11e8-9398-1a3d703f19f8.JPG)

I cannot confirm if it was sent as I have had no feedback and no copy came to me.  It is marked as Not sent in the message system.

[2018-07-24 16:15] DeniseColbert commented on #1510
Yes, that makes sense, thanks Eric.  We'd have to flesh out your roles a little on that page, to avoid people emailing Jo (unless we leave her off) but it would save a programming change if details are out of date.

[2018-07-24 16:23] DeniseColbert commented on #1452
Some input from Jo:

"shouldn't training be something they opt out of instead of opting in aka have to untick the box if they think this doesn't apply to them.
Should we leave it to them to decide whether they need training or not?  There are many who think they know it all who won't tick the box regardless if they do need it or not.  Then there are those that just can't be bothered to be put thro

[2018-07-24 23:03] SteveBiggs commented on #1452
Perhaps the questions should be:

 -have you ever transcribed parish registers before?
- do you use a Windows PC or a Mac or something else?

[2018-07-25 14:35] Captainkirkdawson opened #1512 "[production][image_server_images#destroy] NameError: uninitialized constant SourceProperty::Status"
Priority 17 (0	2	7	8)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b0ebea2e93790ebb1aa187b)

[2018-07-25 14:36] Captainkirkdawson opened #1513 "[production][refinery/pages#show] ActionView::MissingTemplate: Missing template refinery/pages/home with {:locale=>[:en], :formats=..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/562a65f7e93790333a00002f/problems/5b4682a7e9379085a99a9e6a)
# ActionView::MissingTemplate: Missing template refinery/pages/home with {:locale=&gt;[:en], :formats=&gt;[:text], :variants=&gt;[], :handlers=&gt;[:erb, :builder, :raw, :ruby, :coffee]}. Searched in:
  * &quot;/home/apache/hosts/freereg2/production/app/views&quot;
  * &q

[2018-07-25 14:38] Captainkirkdawson opened #1514 "[production][messages#create] DocumentNotFound"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b5767ffe937901abfe72355)

[2018-07-25 14:38] Captainkirkdawson opened #1515 "[production][image_server_images#index] NoMethodError: undefined method `person_role' for nil:NilClass"
Priority 17 (0	2	7	8)

[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b57e335e937901abfe7235a)

[2018-07-25 14:39] Captainkirkdawson opened #1516 "[production][messages#update] NoMethodError: undefined method `include?' for nil:NilClass"
Priority  18 (0	3	8	7)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b5731cbe937901abfe7234f)

[2018-07-25 14:40] Captainkirkdawson opened #1517 "[production][contacts#index] NameError: undefined local variable or method `list_contact_reply_message_path' for #<#<Class:0x0..."
Priority 18 (0	3	8	7)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b564ac0e937901abfe72349)

[2018-07-25 16:35] richpomfret commented on #1380
@SteveBiggs so it was working ok on TEST but something has broken during deployment? Does this occur when sending any batch message to members? It looks like you both have had slightly different versions of the same/similiar problem there..

[2018-07-25 21:43] SteveBiggs commented on #1380
I just did a test send of a message to my Sussex and Surrey syndicate and it worked without any problems. Several have already confirmed receipt of the email.

[2018-07-26 12:20] DeniseColbert opened #1519 "Place Google Tag Manager code on every page of website"
IIUC, once the code is on the website, we will configure Tag Manager, and then we will need the existing analytics code to be removed.

Copy the code below and paste it on to every page of your website.
Paste this code as high in the < head > of the page as possible:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagNa

[2018-07-26 13:58] Captainkirkdawson commented on #1519
Are we sure we know what we are doing and have considered unintended consequences

[2018-07-26 14:08] DeniseColbert commented on #1519
This definitely does need discussion, particularly as we're currently having issues with analytics. By the time it gets to 'Ready', we should be good to go.

I've now assigned Rane (@jiun0426), our Google Analytics specialist volunteer. She is away until mid-August but can advise best.

[2018-07-26 14:39] Captainkirkdawson commented on #1473
@edickens did you get any volunteers?

[2018-07-26 14:40] Captainkirkdawson commented on #1514
Is this bot activity on county_pages we never use a show on refinery pages

[2018-07-26 15:00] Captainkirkdawson commented on #1513
Have added an empty page incorrect-link

[2018-07-26 15:11] Captainkirkdawson opened #1520 "[production][freereg_contents#place] ActionController::RedirectBackError: No HTTP_REFERER was set in the request to this action, so re..."
Priority 12 (0	2	3	7)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b5981b7e937901abfe72369)

[2018-07-26 15:15] Captainkirkdawson opened #1521 "12 P [production][freereg1_csv_files#update_churches] NoMethodError: undefined method `place_name' for nil:NilClass"
Priority 12 (0	2	3	7)

[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b1010efe93790ebb1aa1887)

[2018-07-26 15:21] Captainkirkdawson commented on #1514
Why is there is search_record lookup during a message create??????

[2018-07-26 18:14] edickens commented on #1473
Yes.  Four.  And Steve is in contact with them.  The only problems have been understanding it.

[2018-07-26 19:18] SteveBiggs commented on #1473
I pointed them to the draft help notes, but I think they struggled a bit due to the notes not being complete yet. Once I explained the format required, they have been able to successfully upload files.

[2018-07-26 22:55] AlOneill commented on #1473
@SteveBiggs @edickens  Burials are pretty much done — E&OE! Baptisms are incomplete (Refinery issues); marriages need further work (links not all working, for example), but all the fields are there. So, I suggest burials would be the best choice for now, if possible — please let me know if anything is obscure/unhelpful/incorrect.

Of course, each set of fields should be read in conjunction with:
h

[2018-07-27 16:03] SteveBiggs commented on #1147
I've reopened this because a valid point has been made by a coordinator. The Message to Syndicate action has been incorporated it into the main Message System, so that all SC's can now see all messages that have been sent out by everyone else via the Message System. This makes it confusing for SC's and difficult for them to find their own messages to their syndicate amongst all the other messages.

[2018-07-27 16:10] bev-fc commented on #1484
@SteveBiggs Can you verify again?

[2018-07-27 21:46] Captainkirkdawson commented on #1484
@SteveBiggs its on test3

[2018-07-28 03:11] Captainkirkdawson commented on #1509
The role should be used NOT the person

[2018-07-28 10:00] SteveBiggs commented on #1509
I agree Kirk, but it must be easy for the transcriber to find the contact details of who is currently in the role.

[2018-07-28 10:30] SteveBiggs commented on #1484
Accept All Assignments (as SC) worked fine this time.

Just need the same button on the CC Completion Submitted page please.

[2018-07-28 10:45] richpomfret commented on #1147
This is feasible, although may be a delay in achieveing this without Vino. Is this functional 'as is' or would you rather the feature is disabled in the current state?

[2018-07-28 12:06] SteveBiggs commented on #1147
Definitely don't disable it as it is usable. The coord(s) who don't understand/like it will just not use it until the change is made.

[2018-07-28 12:40] SteveBiggs commented on #1380
When a SC replies to a contact via the FR website, can a copy of the reply be automatically sent to the comscoord email address so they know it has been answered?

[2018-07-28 12:42] SteveBiggs commented on #1380
Rather than having a destroy (DES) button for when a Contact has been answered, would it be better to archive the Contact so that we keep a record of it in the system?

[2018-07-28 18:15] Captainkirkdawson commented on #1493
Code cleaned up.

[2018-07-28 19:47] Captainkirkdawson commented on #1493
Double render fixed and tested in issue_1493

[2018-07-29 14:00] Sherlock21 opened #1522 "County Code appears to be missing from a batch even though it is shown when batch is downloaded"
Batch concerned is AndyPhillips.SOMMSMBA1.csv

When I download this batch, it correctly show SOM as the County. However if a Search is made for Agnes Anne SMITH of SOM/ Midsomer Norton/ 1863 she is Not returned unless the Place name is added in the search.

Then when the record is examined, it is seen that SOM is not in the data - see attached.
Yet SOM is in all the  files in the Attic.\
SO  where

[2018-07-29 14:00] Sherlock21 commented on #1522
/Users/eric/Desktop/SMITH search part result.jpg

[2018-07-29 14:02] Sherlock21 commented on #1522
The results  from the Methodist records in the attached snip are all from the same batch. SOMMSMBA1.csv. But only the one for Agnes Anne SMITH does not have the County listed

[2018-07-29 14:04] Sherlock21 commented on #1522
![smith search part result](https://user-images.githubusercontent.com/9368704/43367149-9e92e814-9340-11e8-9ec5-45c5db50167c.jpg)

[2018-07-29 15:35] bev-fc commented on #1490
@Captainkirkdawson the fix is pushed together with issue #1484

[2018-07-29 16:07] Captainkirkdawson commented on #1490
@bev-fc see nothing new on github

[2018-07-30 12:41] bev-fc commented on #1490
@Captainkirkdawson the change is mixed within the push for multiple completed groups

[2018-07-30 13:58] Captainkirkdawson commented on #1512
@bev-fc  can you look at this please

[2018-07-30 14:17] Captainkirkdawson commented on #1513
Not fixed

[2018-07-30 14:24] Captainkirkdawson opened #1523 "[production][image_server_images#flush] AbstractController::DoubleRenderError: Render and/or redirect were called multiple times in this ..."
Priority 17 (0	2	8	7)

[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b5ee47ce93790cc15ab0b9b)

[2018-07-30 14:26] Captainkirkdawson opened #1524 "[production][feedbacks#userid_feedbacks] NoMethodError: undefined method `reload' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/562a64eee93790333a000028/problems/5b5d7f58e93790cc15ab0b74)

[2018-07-30 15:27] SteveBiggs opened #1525 "Copy comscoord email address to replies to Contacts"
Required by #1380

[2018-07-30 15:28] SteveBiggs opened #1526 "Replace Destroy button in Contacts with an Archive button"
Required by #1380

[2018-07-30 16:03] richpomfret commented on #1507
Already have capacity to collect this info - we just need to request it. @SteveBiggs to send out request.

[2018-07-30 16:07] richpomfret commented on #1505
Require email content.

[2018-07-30 18:09] AlOneill commented on #1486
**Second issue:** although Refinery preview pane correctly interprets `&vellip;` as a vertical ellipsis (⋮), it will not save a page containing one.

[2018-07-30 18:59] SteveBiggs commented on #1507
Request message sent to all coordinators.

[2018-07-30 19:56] Captainkirkdawson commented on #1524
Placed all feedback actions behind login requirement

[2018-07-31 13:50] Captainkirkdawson commented on #1516
Is visible in #1109

[2018-08-01 15:37] #1473 closed

[2018-08-01 15:38] #1507 closed

[2018-08-01 15:40] richpomfret commented on #1484
@SteveBiggs to check/review to see if this request has now been fulfilled.

[2018-08-01 15:43] richpomfret commented on #1435
@benwbrum can you comment?

[2018-08-01 16:01] richpomfret commented on #1371
@PatReynolds to nudge Lemon re: rsync and also explore backup options.

[2018-08-01 16:31] Captainkirkdawson commented on #1442
Drafts have been updated

[2018-08-01 18:01] AlOneill commented on #1442
Still refining the wording &c. to be more user-friendly.

I have some doubts/queries about some of the fields:
* I have assumed that *some* dates require an entry (even if that is only a best-guess year), whereas others do not: if any of my assumptions are wrong, please let me know
* The examples for the 3 Notes fields are taken from my transcribing work: if you can improve on these, by suggesting

[2018-08-01 19:25] SteveBiggs commented on #1484
It has not. Needs to be on this page:

![image](https://user-images.githubusercontent.com/25303607/43543808-04ea0dc4-95c9-11e8-90e4-d67c876d56b2.png)

[2018-08-01 20:01] SteveBiggs commented on #1442
1. My understanding is (@Captainkirkdawson can confirm):
BA requires at least a year in EITHER the baptism or birth date field.
MA requires at least a year in EITHER the marriage or banns date field.
BU requires at least a year in EITHER the burial or death date field.

3. I suggest - "If any additional information is provided, for instance a name or a date, enter this in the Notes field"

[2018-08-01 20:42] bev-fc commented on #1484
@SteveBiggs only accepted all for SC is finished, accepted all for CC is next step.

[2018-08-01 21:11] SteveBiggs commented on #1484
Thanks @bev-fc. Let me know when it's done and ready to test.

[2018-08-02 02:52] Captainkirkdawson commented on #1442
That is correct

Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

On 1 August 2018 at 14:01, Stephen Biggs <notifications@github.com> wrote:

[2018-08-02 08:43] edickens commented on #1510
Have just invited a new transcriber to join the transcribers group and got this, which I have not seen before:-
![Capture.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/542531935e93a002006d0247/125516c66e82c728ace21e0d46cb958a379791accda5fd53b652fa912a5265296b51f02e7384e671e6162351580d4bac43585f45ffac8928f0a42062c80d55b98e30063e937f03a6aa8318b500bf23884e8cbfb88b4bc4ef3d37

[2018-08-02 11:09] PatReynolds opened #1527 "Completely shut down FC1"
needs #931
Any other requirements?

[2018-08-02 11:26] benwbrum commented on #1435
Sorry for the delay.  Yes, the screenshot was deliberately cropped, since the only part of the screen I changed with this work was the navigation links.

[2018-08-02 14:26] DeniseColbert opened #1528 "Update Terms of Use page"
Priority  18 (0 10 0 8)
Some additions needed, see https://docs.google.com/a/freeukgenealogy.org.uk/document/d/1ua6ODxzxxgUgvsXkRONpZjiP0C-XRE_K-9ajJQ2J0Kc/edit?usp=sharing

[2018-08-02 14:27] DeniseColbert opened #1529 "18 Add link to Terms of Use page to footer"
Priority  18 (0 10 0 8)
needs #1528

[2018-08-02 16:12] Captainkirkdawson commented on #1472
flexible csv and new fields deployed to production

[2018-08-02 16:33] SteveBiggs commented on #1472
We'll need to decide on a communucation plan - bearing in mind that ony spreadsheet users can currently use it, not WinREG.

[2018-08-02 21:36] AlOneill commented on #1442
@SteveBiggs @Captainkirkdawson Thanks — that is kinda what I thought! Now to work on expressing the tricky 'at least in either' concept in friendly terms!!

[2018-08-03 13:56] Captainkirkdawson opened #1537 "Communicate use of flexible csv and new fields"
With the deployment of the flexible csv and the new fields
We'll need to decide on a communucation plan - bearing in mind that ony spreadsheet users can currently use it, not WinREG.

[2018-08-03 13:59] Captainkirkdawson commented on #1472
@SteveBiggs put your comment into new story #1537

[2018-08-03 15:08] SteveBiggs commented on #1472
Thanks @Captainkirkdawson

[2018-08-03 15:09] DeniseColbert commented on #1537
Plan started, shared with Kirk, Alison, Eric and Steve. Link: https://docs.google.com/document/d/1yFSrrrWrkm6-tUKETs4KzEMvbpiYPDzkJWIUnB1Kbe0/edit?usp=sharing

[2018-08-04 14:10] Captainkirkdawson commented on #1527
Should be in FC

[2018-08-04 14:44] Captainkirkdawson commented on #1484
@SteveBiggs bev has added the CC accept all code; it is available on test3 for you

[2018-08-06 08:58] SteveBiggs commented on #1484
Tested in test3 and working, thanks.

[2018-08-06 12:04] PatReynolds commented on #1371
Protocol amended with backup instructions and Lemon nudged.  I have edited Kirk's helpful description of what happens beyond the persons writing/editing/checking.  Could you all check check, please, esp @AlOneill and @Captainkirkdawson that all is as you desire?
Lemon just said he needs to ask you, Kirk, for more detail than I can provide on the rake task.

[2018-08-06 12:25] lemon-ukgen commented on #1371
I have found the document which has helped me understand what's required. I left a comment there which I'll include here, because the exact nature of what we're syncing is unclear to me:

[2018-08-06 16:06] Captainkirkdawson commented on #1371
@lemon-ukgen @AlOneill @PatReynolds @DeniseColbert

I would like to propose the following.
1. That ALL changes are done solely on the staging environment as you call it. ie NO changes are made to production directly EXCEPT in an emergency. (Needs change to document in the minor edits section).
2. No DRAFT page is linked to any production page.
3. The sync from the test environment to the productio

[2018-08-06 16:18] Captainkirkdawson commented on #1371
@lemon-ukgen
We are talking about the freereg2_production mysql database (and I presume the freecen2_production)

Having looked at the tables we would have to use option 2 NOT 1.  We would NOT want to copy the
4 user tables
![refinery](https://user-images.githubusercontent.com/2874694/43728343-0c01245c-9962-11e8-8707-d09fe93e8c24.PNG)

[2018-08-06 19:12] Captainkirkdawson commented on #1442
@AlOneill  the links to the 3 header csv files no longer work they die with the error message

The SHA parameter you gave is incorrect

[2018-08-06 20:08] AlOneill commented on #1442
@Captainkirkdawson Fixed.

[2018-08-06 22:00] AlOneill commented on #1442
There is no 'date of banns' field unless it's the same as 'date_of_contract'?

And, if 3 dates are offered for banns, do we want the final one?

[2018-08-06 22:03] Captainkirkdawson commented on #1442
@AlOneill That is because banns would be implemented through a new record type rather than as part of a marriage record. date_of_contract is separate and distinct from dates of banns (and applies only in Scotland I believe)

[2018-08-07 09:33] lemon-ukgen commented on #1371
So something like:

1. On `vervet`, dump the following tables from `freereg2_production` to a file
* `active_admin_comments`
* `refinery_county_pages`
* `refinery_image_translations`
* `refinery_images`
* `refinery_page_part_translations`
* `refinery_page_parts`
* `refinery_page_translations`
* `refinery_pages`
* `refinery_resource_translations`
* `refinery_resources`
* `schema_migrations`
* `seo_

[2018-08-07 12:02] SteveBiggs commented on #1442
I still need to define the required fields for the new record type of Banns per #1427

[2018-08-07 13:31] Captainkirkdawson commented on #1371
I used the dump to do the initial "sync" of test3 from colobus. This made some unhappy as it wiped out some pages that had been working on on test3. Clearly the suggestion would wipe out all page changes done directly on colobus. In my mind this should not be a problem but the editors would need to comment.  Of course we could dump colobus to freereg2_development as a backup first,
This could be t

[2018-08-08 02:25] lemon-ukgen commented on #1371
Agreed, there needs to be just one place (`vervet`/`test3`) where changes are made and the understanding that any changes made on downstream systems (`colobus` et al / production) would get blown away by the sync process. (As far as I can tell this is the motivation for asking for a sync process.)

Testing the process `test3` -> `test2` sounds useful.

Who can confirm this before I start the code

[2018-08-08 03:24] Captainkirkdawson opened #1541 "[production][image_server_images#destroy] NoMethodError: undefined method `deletion_permitted?' for nil:NilClass"
Priority 17 (0	2	7	8)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b694f57e937903469d2e6b3)

[2018-08-08 04:01] Captainkirkdawson commented on #1398
Mot relevant

[2018-08-08 04:01] #1398 closed

[2018-08-08 04:26] Captainkirkdawson commented on #1372
Now being done

[2018-08-08 04:26] #1372 closed

[2018-08-08 08:32] PatReynolds commented on #1371
Like the idea of at test3 --> test 2 test.

[2018-08-08 14:15] Captainkirkdawson commented on #109
@SteveBiggs is this still a requirement. If so I suggest we change to version 2

[2018-08-08 14:44] Captainkirkdawson commented on #282
@PatReynolds I believe this to have been overtaken by events. Links now go to pages in the FreeUKGEN website pages. Propose to close

[2018-08-08 14:44] #282 closed

[2018-08-08 16:34] SteveBiggs commented on #109
I didn't raise this, but it would be useful.

[2018-08-09 02:57] Captainkirkdawson opened #1543 "[production][image_server_images#view] NoMethodError: undefined method `file_location' for nil:NilClass"
Priority 17 (0	2	7	8)

[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b694f72e937903469d2e6b7)

[2018-08-09 10:16] edickens opened #1544 "Allow "Completed" image groups to be changed"

[2018-08-09 14:28] Captainkirkdawson commented on #313
We have now been running without this feature for 3 years, The developers have no specific need for the information so believe it should be closed or considered for version 2

[2018-08-09 14:28] #313 closed

[2018-08-09 15:57] Captainkirkdawson commented on #525
Actual requirement is still as clear as mud. Nothing can be done until there is a clear statement of requirement.

[2018-08-09 16:25] SteveBiggs commented on #525
In summary, I see the requirement to be that we can transcribe everything regardless of X-year rule conditions imposed by the source provider. We can tag records that do have a date restriction so that they are not searchable until a specified date based on the X-year condition imposed.

[2018-08-09 22:59] Captainkirkdawson commented on #731
Is this current version or version 2?

[2018-08-09 23:05] Captainkirkdawson commented on #753
No idea what is expected of this story. Propose to close

[2018-08-09 23:28] Captainkirkdawson commented on #763
Duplicate of #731

[2018-08-09 23:28] #763 closed

[2018-08-10 02:34] Captainkirkdawson commented on #849
Propose to close as it has been overtaken by events. There is no rejection on an upload. A file may be unprocessable. The file stays there until corrected and processed. The DM can get a list of unprocessed files and take action as appropriate

[2018-08-10 02:34] #849 closed

[2018-08-10 02:36] Captainkirkdawson commented on #853
I believe this has been passed by other stories and developments and is no longer relevant

[2018-08-10 02:36] #853 closed

[2018-08-10 02:37] Captainkirkdawson commented on #882
Propose to close as there is no real requirement.

[2018-08-10 02:37] #882 closed

[2018-08-10 02:40] Captainkirkdawson commented on #895
Issue appears to be resolved

[2018-08-10 02:40] #895 closed

[2018-08-10 02:42] #804 closed

[2018-08-10 03:52] Captainkirkdawson commented on #974
Not required

[2018-08-10 03:52] #974 closed

[2018-08-10 03:55] Captainkirkdawson commented on #979
Is this still relevant?

[2018-08-10 03:55] #979 closed

[2018-08-10 07:31] edickens commented on #804
There may be another story that covers this, but FreeBMD has a very good report on those batches which have a lot of UCF.  These are batches that need to be revisited and checked by someone else, or we need to try to get a better copy of the image.  So this is automatically highlighting those batches which need investigation.
Yes, there is marker against the image group, and perhaps this needs to

[2018-08-10 11:08] smrr723 commented on #979
See you've closed this @Captainkirkdawson but looked like a duplicate of #1455 anyway.

[2018-08-10 13:07] edickens opened #1547 "Deletion of an Image Group and its Images"

[2018-08-10 13:08] Captainkirkdawson commented on #804
Story #748 is the UCF report ite version 2.

[2018-08-10 13:12] Captainkirkdawson commented on #979
It was

[2018-08-10 13:49] AlOneill commented on #1442
Thanks.

Have noticed that the place_of_death details are missing from burials: is the 'place' as per our specific usage or can it be any kind of location information such as a farm, body of water, hospital, &c?

[2018-08-10 14:07] Captainkirkdawson commented on #1442
@AlOneill  good catch. It is general (TWYS) whatever was written in the register

[2018-08-10 19:28] Sherlock21 commented on #1442
An interesting question, AlOneill.
it depends upon whether we wish to make it a searchable  Place or not. If YES, then it need to be a County + PlaceName as in FR already. IF No searching, then you can put what you want.

My view is:  researchers need all the help & clues they can get when trying to find "Strays' - i.e. out of base area events.
Often, when a bride moves away form her birth place,

[2018-08-10 21:41] Captainkirkdawson commented on #982
In order to do something meaningful the subject is restricted to Relocate Church. Other stories with specific requests will be needed if required. Since there are over 200 drop down boxes a general comment cannot be processed.

[2018-08-10 22:01] Captainkirkdawson commented on #1000
This story has a large size because the file name is an integral part of the system. Providing an ability to change it has significant likelihood of causing unintended consequences which need to be investigated

[2018-08-10 23:03] Captainkirkdawson commented on #1015
There is no overnight processing or report

[2018-08-10 23:03] #1015 closed

[2018-08-11 07:31] Sherlock21 commented on #982
OK. this will be a good improvement.
How many rows were you thinking about giving me please?
IF you found make it deep enough for at least 10 church names, that would be fine,

[2018-08-11 07:40] SteveBiggs commented on #1000
This refers to the uploaded file, for example; SSXSBEBA.CSV.  which perhaps "should" be SSXSBABA because the transcriber used the wrong file code on creation of the file. Functionally it makes no difference what the file is called but it is untidy from an admin point of view and there could be a practical problem if the transcriber subsequently creates a file for the place/church that really does

[2018-08-11 14:36] Captainkirkdawson commented on #982
Will be decided when this is actioned some time in the future

[2018-08-11 14:52] Captainkirkdawson commented on #1000
In view of comments propose to close

[2018-08-11 14:52] #1000 closed

[2018-08-11 15:07] #1082 closed

[2018-08-11 15:09] Captainkirkdawson commented on #1092
What is proposed is a management issue not a development issue propose to close

[2018-08-11 15:09] #1092 closed

[2018-08-11 19:13] Captainkirkdawson commented on #1122
It is clear that Bing is now linking to our main site and to other useful links

[2018-08-11 19:13] #1122 closed

[2018-08-11 19:24] Captainkirkdawson commented on #1140
MI's can now now be added to the burial record . Unless there is a proposal to go and search for sources of this information I suggest it be closed and a new story written for the latter aspect  if it is to be persued

[2018-08-11 19:24] #1140 closed

[2018-08-11 19:33] Captainkirkdawson commented on #1148
In retrospect this is likely a bad idea. Given that the DM can download from the attic any subsequent action can be done.

[2018-08-11 19:33] #1148 closed

[2018-08-11 19:49] Captainkirkdawson commented on #1150
Image Sources are now defined as either open or not. Images will not be displayed if not open
Unless there is more that needs to be done I propose this be closed

[2018-08-11 19:49] #1150 closed

[2018-08-11 22:09] Captainkirkdawson commented on #1216
@lemon-ukgen

Mongodb now has version 3.6 and version 4. We must upgrade  to 3.4 then 3.6 then 4.0

Clearly we need to do this in a step wise fashion.

I am not going to be able to deal with this until mid October. So can we schedule some of your time to get at least the first version 3.4 available for mid October

[2018-08-11 23:05] Captainkirkdawson commented on #1264
Is this sill an issue

[2018-08-11 23:13] Captainkirkdawson commented on #1265
I still do not understand what is required. We can add new images to the image server, we can transcribe the additional fields for a CRS.
It seems to me the matter is one of informing coordinators where to get these images.

[2018-08-12 06:25] lemon-ukgen commented on #1216
That's fine @Captainkirkdawson, I am not planning on being away.

FreeBSD does not yet package 4.0. If they still don't by October we'll roll our own package for it.

We might take the opportunity to move the MongoDB servers to FreeBSD 11.2. This requires two reboots and ~30 minutes per server.

[2018-08-12 07:41] edickens commented on #1265
Kirk,
Can you please check.  I think that when an entry has its zero year corrected online then the year range IS recalculated, and reprocessing is not needed.  But this does not happen when a blank, or other, entry is deleted.
I think that recalculate should take place every time any editing, insertion or deletion of an entry takes place.  I'm not sure that this happens.

[2018-08-12 08:46] Sherlock21 commented on #1265
I too ma confused as to the requirements.
We don't have a Source List in FR for the existing records, so why just for the Catholic Society?
If you create such a feature, then who is going to back fit?
Where do you see it fitting in the present display(s).

[2018-08-12 09:38] edickens commented on #1265
Are we confusing Source and Register Type?  Do we want a Register Type for Catholic?  At present we use OR, Other Register type.  We have the Church denomination of Catholic.

[2018-08-12 13:05] Captainkirkdawson opened #1548 "[production][image_server_groups#update] ActionController::ParameterMissing: param is missing or the value is empty: image_server_group"
Priority  18 (0 2 8 8)
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b6f0330e9379056f2d2e6ac)

[2018-08-12 13:49] Captainkirkdawson commented on #1272
@benwbrum can you recall what this was about?

[2018-08-12 14:00] Captainkirkdawson commented on #1296
I do not see any development activity associated with this

[2018-08-12 17:41] Captainkirkdawson commented on #1302
Too broad to understand what if anything is to be done.

[2018-08-12 17:52] Captainkirkdawson commented on #1149
Personally I see little or no value in this

[2018-08-12 18:01] Captainkirkdawson commented on #1305
As noted in #1140 MI's can now now be added to the burial record . Unless there is a proposal to go and search for sources of this information I suggest it be closed and a new story written for the latter aspect if it is to be pursued

[2018-08-12 18:01] #1305 closed

[2018-08-12 18:10] Captainkirkdawson opened #1549 "Documentation update"
Update information for Coords - tell potential donors to check transcriptions availability and the free uk genealogy website.
Priority (0  1 3 7) 11

[2018-08-12 19:07] Captainkirkdawson commented on #1331
The text has been updated
Cell 1B is the email address of the transcriber: it is not made public and is accessible only to coordinators, for information. You may leave it empty, in which case the database field is filled from the Profile (please note that this will not be updated if you change the email address in your Profile)

[2018-08-12 19:07] #1331 closed

[2018-08-12 19:13] Captainkirkdawson commented on #1346
There are no development activities associated with this. It is a management survey

[2018-08-12 19:14] Captainkirkdawson commented on #1351
I believe that this has been addressed by the contact system reply system

[2018-08-12 19:16] Captainkirkdawson commented on #1356
No it is a duplicate

[2018-08-12 19:16] #1356 closed

[2018-08-12 19:32] Captainkirkdawson commented on #1363
Duplicate of #1264

[2018-08-12 19:32] #1363 closed

[2018-08-12 19:40] Captainkirkdawson commented on #1370
I dislike these sorts of things because of the people who are not included yet are critical to the team eg Alison, the coordinators and myself  amongst others

[2018-08-12 19:42] Captainkirkdawson commented on #1370
Suggest there be a link in the ABOUT refinery page that links to the page in UKfreeREN rather than another page

[2018-08-13 12:15] DeniseColbert commented on #1370
I think it would be nice to have a section below the Exec for the other members of the team (without contact details).

[2018-08-13 13:25] AlOneill commented on #1371
I would like to offer constructive comment, but don't think I can contribute much with current level of brain-fog.

Seems that editing could take (me) longer because I would feel under more pressure to get things totally correct before a sync. I typically discover another typo or piece of poor wording each time I check a page!

Kirk's point 2 (7 days ago) looks like an issue — if no draft page sho

[2018-08-13 13:45] Captainkirkdawson commented on #1371
@AlOneill Re point 2 you remove the draft and link it to the production page as the last step prior to deployment

[2018-08-13 14:02] SteveBiggs commented on #1370
The important point is that there MUST be an easy way for volunteers to find the contact derails for the members they are likely to want/need to contact. I don't really care what links to what but it must be easy and accessible.

[2018-08-13 14:10] SteveBiggs commented on #1351
I don't believe the system allows recording of replies sent outside the system does it? (other than by manually destroying the contact).

[2018-08-13 14:13] Captainkirkdawson commented on #1370
What you are talking about is story #1508. That has a 1.6 milestone. This particular story is about the ABOUT pages

[2018-08-13 14:16] SteveBiggs commented on #1324
@Captainkirkdawson are you sure you mean #1104? There are two issues with this number and neither are to do with writing to ROs ....

[2018-08-13 14:32] SteveBiggs commented on #1370
Ok well that (#1508) is the one that's important - and I don't think it should wait until 1.6.

[2018-08-13 14:46] SteveBiggs commented on #1324
Agreed, thanks.

[2018-08-13 14:46] #1324 closed

[2018-08-13 15:30] richpomfret commented on #1549
@PatReynolds to write the text.

[2018-08-13 15:38] richpomfret commented on #1265
Closing.

[2018-08-13 15:38] #1265 closed

[2018-08-13 15:49] richpomfret commented on #1537
Limited in how we proceed with this.

[2018-08-13 15:58] richpomfret commented on #1527
Closing as not applicable.

[2018-08-13 15:58] #1527 closed

[2018-08-13 19:04] SteveBiggs commented on #1442
@AlOneill the links to the 3 header csv files do not work again - they die with the error message

The SHA parameter you gave is incorrect

[2018-08-13 22:27] Captainkirkdawson commented on #1442
@AlOneill not the foggiest. I have not touched refinery for some time and certainly not those files.Why are we using the SHA anyway?

[2018-08-13 22:32] Captainkirkdawson commented on #1498
@edickens I accidently deleted the comment can you remind me what it was about I think it was something to do with register type

[2018-08-13 22:44] Captainkirkdawson commented on #1480
This feature was never programmed it is scheduled for 1.7 as part of the roadmap

[2018-08-13 22:45] AlOneill commented on #1442
@Captainkirkdawson Can't give a technical answer, just that Refinery complains if there is no SHA as well as if it is 'wrong'. (Apologies if your question was rhetorical!)

The SHA for each has definitely changed since the last fix. When I get a chance, will check whether or not the FC file downloads are still working, FWIW.

[2018-08-13 22:49] Captainkirkdawson commented on #1488
Would someone provide text. Personally I would drop the comment.

[2018-08-13 22:50] Captainkirkdawson commented on #1487
Yes

[2018-08-13 23:16] Captainkirkdawson commented on #1442
I have just been able to download the files.
The SHA is a dragonfly requirement nothing really to do with Refinery which uses Dragonfly to display the resources (images and files)

[2018-08-14 07:08] edickens commented on #1498
This where we need the Start and End year to be added.
This is the CC report.  It is so that we can skim it and put it into a spreadsheet and then compare it with the IGs.  If space is needed for the new columns, then Editing is not needed.

[2018-08-14 10:54] SteveBiggs commented on #1442
Yes, the links now work again. Thanks.

[2018-08-14 11:03] SteveBiggs commented on #1442
@AlOneill when do you expect the help documentation to be ready to deploy to production? I would like to get something sent out to transcribers who use spreadsheets so they can start using flexible csv. Thanks.

[2018-08-14 14:30] DeniseColbert commented on #1452
Draft process sent to Steve to look over 14/8

[2018-08-14 15:32] SteveBiggs commented on #1452
Have made some changes.

[2018-08-14 16:51] DeniseColbert commented on #1505
For first email, I suggest:

Hello,

You recently began the process of signing up as a volunteer transcriber on FreeREG but we noticed you haven't completed your registration.

The rest of the email will be mostly what's in the initial email they didn't respond to. Not sure what that is currently?

Second email:

Hello,

You began signing up with FreeREG as a transcriber a few months ago, but didn

[2018-08-15 10:59] edickens commented on #1537
I'm a bit loathe to get transcribers onto this until we have WinFreeREG.  It may tempt transcribers to move to a spreadsheet and this is a backward step.  WinFreeREG is nearly ready to take the flexible csv.

[2018-08-15 12:47] SteveBiggs commented on #1537
Good point Eric. If any existing spreadsheet users ask , I'll give them details but won't broadcast anything yet.

[2018-08-15 15:04] Captainkirkdawson commented on #1410
@PatReynolds @richpomfret had commented on the coordination board 3 days ago
I think alternatives are the way to go over AWS Cloud9 for when (eventually) we are forced to migrate. The costing set-up really isn't clear on AWS and the new UI is very different (and more convoluted) to Cloud9 as it currently stands. It could cost us as little as $2 a month on the most basic EC2 package, or quite a bit

[2018-08-15 15:31] PatReynolds commented on #1410
I have a meeting with AWS next week, and can ask them then about costing,
support with setting us up, etc.

On 15 August 2018 at 16:05, Kirk Dawson <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105

[2018-08-15 15:50] richpomfret commented on #1472
Deployed.

[2018-08-15 15:51] #1472 closed

[2018-08-15 15:51] #1490 closed

[2018-08-15 15:51] #1493 closed

[2018-08-15 15:51] #1524 closed

[2018-08-15 15:56] SteveBiggs commented on #1484
This is the other page that I would like a button to send complete email to CC for all groups at once:

![image](https://user-images.githubusercontent.com/25303607/44158166-0300c000-a0ac-11e8-8167-5df3847a5b20.png)

[2018-08-15 15:58] richpomfret commented on #1376
Explore retaining copies of the 'dump' as a fail-safe.

[2018-08-15 17:06] edickens commented on #1544
Background
When CCs are setting the "Available" to "Completed", there will be errors made.  For example to start with we have to assume that a complete Image Group has been done when in reality some images have been missed.  Or an Image Group may be marked by mistake.  If this happens, the Image Group is locked as "Completed" and cannot be changed.  This has already happened.  We need to be able t

[2018-08-15 20:56] SteveBiggs commented on #1427
I have created a spreadsheet of suggested fields for Banns here:

https://docs.google.com/spreadsheets/d/1iW5n7lK9iOZgg73VeK_o-421YsZfYp0dYmb9dcG_tiU/edit?usp=sharing

Please review and amend as you see fit.

[2018-08-16 10:12] PatReynolds commented on #1371
I have updated the document, and hope it now makes sense, given our discussion yesterday.
@Alison, I would hope that having two pairs of eyes on a text (at least) before making live would cut down typos, but these can always be addressed as minor corrections (i.e. made on both test and production servers).

[2018-08-16 10:17] PatReynolds commented on #1371
@lemon-ukgen asked on slack: are we also "talking about images, which commonly *aren’t* stored in the database, then we’re also talking about syncing files" - I think we're talking about images, and thus about syncing files - is that correct @AlOneill @Captainkirkdawson @richpomfret ?

[2018-08-16 11:55] AlOneill commented on #1371
@PatReynolds @lemon-ukgen Yes, we have both images and files in their respective Refinery tables.

[2018-08-16 12:48] AlOneill commented on #1427
What does "If different to code" (in the Type column) mean/imply?

[2018-08-16 14:38] SteveBiggs commented on #1427
I don't know. It was there from something I copied. I suggest you ignore it. Have deleted.

[2018-08-16 19:26] SteveBiggs commented on #1427
I'm keen to get started on implementing the Banns record type so if no one has any other comments are we good with this?

[2018-08-16 21:09] Captainkirkdawson commented on #1498
This was originally a n issue associated with the display of Register Type as a name rather than a code

[2018-08-17 14:25] SteveBiggs opened #1554 "Cannot logon to FR website via WinFreeREG"
Priority (0 4 9 7) 20

When trying to logon, this error is returned:

![image](https://user-images.githubusercontent.com/25303607/44276820-a682d980-a240-11e8-9605-45126a975f10.png)

[2018-08-17 14:54] edickens commented on #1442
Have just looked at the Test3 Help.  The link to the header rows does not work.  I also think that a comment somewhere near there is needed to say that unwanted columns, and hence field names, can be deleted.  Only those required need to be in this row, and they can be in any sequence.

[2018-08-17 15:00] SteveBiggs commented on #1442
This information is already in the introduction page:

![image](https://user-images.githubusercontent.com/25303607/44273171-949c3900-a236-11e8-8324-cbcc5c78e842.png)

[2018-08-17 17:11] AlOneill commented on #1442
Before copying to production, there are a couple of issues:

* Why are the file download links failing every few days?

* How visible do we want these pages to be? In other words, do we want a link to the introductory page in the Transcriber Help menu; or should the only route be via the existing 'Entering data from ...' page; or what?

[2018-08-17 18:37] SteveBiggs commented on #1484
Just tried the CC Accept All Groups as Completed button and it returned an error page:

![image](https://user-images.githubusercontent.com/25303607/44282986-c2907600-a254-11e8-8892-0d111dc37945.png)

[2018-08-17 20:42] Captainkirkdawson commented on #1554
The additional diagnostics show that the password coming in from WinFreeREG for the computer access has a spelling mistake hence the inability to log into the system. Since I have no ability to access or change WinFreeREG I will see if I can change the expected password to the incorrect one.

[2018-08-17 20:52] Captainkirkdawson commented on #1554
@SteveBiggs can you please retry on test3 WinFreeREG should be able to log into the system
If it works I will fix production

[2018-08-17 22:08] SteveBiggs commented on #1554
Have successfully logged in on test3.

[2018-08-17 22:37] Captainkirkdawson commented on #1554
@SteveBiggs production login should now be OK

[2018-08-17 22:43] SteveBiggs commented on #1554
No, it's giving this error now:

![image](https://user-images.githubusercontent.com/25303607/44291606-452a2d00-a277-11e8-92c3-7b3372f9a4ab.png)

[2018-08-17 22:47] Captainkirkdawson commented on #1554
That is very different. WinFreeREG has successfully logged into the system. The barf is an objection to something about you

[2018-08-17 22:51] Captainkirkdawson commented on #1554
FREEREG::COMPUTER logged in with transreg
App 43613 stdout: FREEREG::COMPUTER for user steveroland
App 43613 stdout: "Known Transcriber"
App 43613 stdout: "Password matches"

[2018-08-17 22:53] SteveBiggs commented on #1554
Hmm interesting, I can login with some of my FR userids but not my CC one of steveroland. Not sure where we go from here?

[2018-08-17 23:16] Captainkirkdawson commented on #1554
Well having done the password check it then seems a message back to WinFreeREG
render(:text => {"result" => "success", :userid_detail => @user}.to_xml({:dasherize => false, :root => 'authentication'}))
Now the @user document contains a great deal of information. It will be different between test3 and production and also between users. I do not know how much of it is used.
The line that it is objec

[2018-08-18 15:42] Captainkirkdawson commented on #1484
Have never seen such a message before. Can it be duplicated and if so please note time of event? There is nothing in the logs to indicate any failures so do not know where to even start

[2018-08-18 17:32] SteveBiggs commented on #1484
Accepting one at a time still works.

[2018-08-18 19:38] Captainkirkdawson commented on #1484
@bev-fc regarding this CC multiple selection failure the normal log entry is
Started GET "/manage_counties/manage_completion_submitted_image_group" for 5.9.125.163 at 2018-08-18 18:30:09 +0100
App 43613 stdout: Processing by ManageCountiesController#manage_completion_submitted_image_group as HTML
There is then
App 43613 stdout: Started GET "/manage_counties/manage_completion_submitted_image_group.

[2018-08-18 22:35] bev-fc commented on #1484
@Captainkirkdawson tested on test3, works without error, there is a possibility it's not code related issue.

[2018-08-18 22:44] Captainkirkdawson commented on #1484
@bev-fc then what might it be. Number of groups being accepted is too many, size of html request??

[2018-08-18 22:47] Captainkirkdawson commented on #1484
@bev-fc Something is generating the GET "/manage_counties/manage_completion_submitted_image_group.SSX"
that is not a correctly formatted get with the .SSX

[2018-08-18 23:02] SteveBiggs commented on #1484
I start by clicking Accept All Groups as Completed:

![image](https://user-images.githubusercontent.com/25303607/44303813-a23ee500-a342-11e8-92c4-fe8f6f423fdc.png)

this brings up a popup box:

![image](https://user-images.githubusercontent.com/25303607/44303821-dadebe80-a342-11e8-8308-4d819ef1bc21.png)

I click 'OK' and get the Forbidden result page

[2018-08-18 23:07] SteveBiggs commented on #1484
btw I assume "Click Yes" really means "Click OK" ....?

[2018-08-19 01:03] Captainkirkdawson commented on #1484
@bev-fc I believe there to be an issue with the code
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/views/manage_counties/image_server_group_completion_submitted.html.erb#L9
passes @group_id, :type=>'complete', :completed_groups=>@completed_groups),  method: :put to image_server_group_path. The problem I see is that @group_id is just far too big in this case and that the action request i

[2018-08-19 04:14] Captainkirkdawson commented on #1554
@SteveBiggs want me to do anything or shall I move it to review or close?

[2018-08-19 09:10] SteveBiggs commented on #1484
I think @Captainkirkdawson is right. I reduced the list down gradually by accepting one group at a time and the Accept All button worked when the list was down to 5 groups long. (Did not work with 7 in the list)

[2018-08-19 15:10] Captainkirkdawson commented on #1554
@SteveBiggs can you test the WinFreeRg cludge on test3 please

[2018-08-19 16:27] bev-fc commented on #1484
@Captainkirkdawson The length limit of any URL and query stem combination in Internet Explorer is 2048 characters, how come it's a code level of issue?

[2018-08-19 17:33] Captainkirkdawson commented on #1484
@bev-fc because @group_id is an enormous hash @group_id[place_name][church_name][register_type][sourceName][group_name] = key  look at what it is trying to send in the error
Should we not be just sending a list of ids

[2018-08-19 17:46] bev-fc commented on #1484
@Captainkirkdawson I think it's time for me to quit volunteering with Freereg, please reassign everything under my name to someone else.

[2018-08-19 18:06] SteveBiggs commented on #1554
Yes that worked. I can login as steveroland on test3.

[2018-08-19 18:57] Captainkirkdawson commented on #1554
Thanks Steve removed from test3 and being queued for release

[2018-08-19 20:03] Captainkirkdawson commented on #1484
@SteveBiggs could you review how I could go about creating a list of groups for a county so that I can test this feature.

[2018-08-19 20:57] SteveBiggs commented on #1484
SRY would be a good county to use because all of the images have been transcribed before the manage images functions were added. I can assign a bunch of groups to myself then submit them as completed. You could then act as CC to Accept All.

How many groups do you want in the list?

[2018-08-20 00:30] Captainkirkdawson commented on #1484
I have developed a fix for the CC acceptance. It was as anticipated an issue of using a hash as an id .Waiting for access to test3 for you to test for me.

In my testing I had trouble with the SC multiple acceptance; did not seem to always work but that could be because I have a messed up database/ Does it work for you?

[2018-08-20 12:47] SteveBiggs commented on #1484
SC mutliple acceptance seems OK for me.

Let me know when test3 is ready to test CC acceptance.

[2018-08-20 13:44] Captainkirkdawson commented on #1554
Different version of WinFreeREG?

[2018-08-20 13:55] Captainkirkdawson commented on #1484
It is now running on test3

[2018-08-20 13:58] SteveBiggs commented on #1554
No Ali is using v1.1.13 same as me which is the most recent available.

[2018-08-20 14:21] Captainkirkdawson commented on #1554
All I can suggest is that either Ali or you are using a different copy of the package. What about your new developer can he log in with it?

[2018-08-20 16:27] Captainkirkdawson commented on #1554
Have added another kludge in case there are 2 packages with different passwords.
You and Ali should test on test3 NOT production

[2018-08-20 16:35] Captainkirkdawson commented on #1554
@SteveBiggs from where can I download WinFreeReg

[2018-08-20 18:38] SteveBiggs commented on #1554
I can still logon to test3.

Earlier I asked Ali to change her password temporarily and I was able to logon as userid alsibk to test3, so it appears there is something different on her PC. She tried reinstalling WinREG v1.1.13 and it still did not work for her.

WinFreeREG download link: http://stash.freeukgen.org.uk/winreg/

[2018-08-21 08:33] SteveBiggs commented on #1554
See email I forwarded with all the things Ali tried this morning to no avail.

[2018-08-21 13:58] SteveBiggs commented on #1484
Yes I tested it last night and am sure I added a comment here that it worked with accepting 16 groups

Maybe I dreampt posting! Anyway, it looks good.

Just need the final button for SC sending the emails to CC in one go now.

[2018-08-21 14:38] SteveBiggs commented on #1554
Ali just successfully logged in. Thanks

[2018-08-21 22:05] Captainkirkdawson commented on #1554
Sent an email on why the problem occurred.

[2018-08-22 17:50] Captainkirkdawson commented on #1484
@SteveBiggs would you want that send email on the List Fully Reviewed Image Groups page as well as the Fully Transcribed Image Groups?

[2018-08-22 19:34] SteveBiggs commented on #1484
Yes sounds logical. Must admit I've never had any groups reviewed yet so didn't think about it.

[2018-08-23 11:36] SteveBiggs opened #1560 "Country Coordinators need to Manage Images for their counties"
Members with the role Country Coordinator use that userid to manage the counties in their country, so all the Manage Images Actions the County Coords have are also needed for Country Coords please.

[2018-08-23 16:15] Captainkirkdawson opened #1561 "[production][freereg1_csv_entries#show] NoMethodError: undefined method `[]' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b69c28de937903469d2e6ba)

[2018-08-24 16:55] Captainkirkdawson opened #1562 "nil field in DEF fields crashes processor"
Priority (0 6 5 8) 19
It appears that a file WRYTADBA2.csv is crashing the file processor

[2018-08-24 17:14] SteveBiggs commented on #1562
Not sure why it should be a problem, but he appears to have defined ALL possible fields in the file when only a small number actually have any data. I have downloaded the file and deleted it from FreeREG. Hopefully this will free up the processing.

[2018-08-24 17:36] Captainkirkdawson commented on #1562
The problem with the field definition is that there is a trailing , which creates a nil field. While not in this file a nil field anywhere in the list of fields would also cause the processor to crash.

[2018-08-24 17:40] Captainkirkdawson commented on #1562
Code added to detect and avoid crash with message to transcriber.

[2018-08-25 15:59] SteveBiggs opened #1564 "Warn of possible spoofed email message"

[2018-08-25 16:04] SteveBiggs commented on #1564
From STS coordinator Michael Clarke:

The attached image shows a warning message that I received from Gmail after replying to an issue through the FreeREG system.

I know the warning message came from Gmail itself and so probably very little can be done within FreeREG to prevent this from happening. However, I would suggest FreeREG putting some information somewhere to inform the CC that this coul

[2018-08-25 16:26] edickens commented on #1564
Thunderbird quite often comes up with warnings of Spam or blocks images with my FreeREG work.  I just regard it as a useful check.

[2018-08-27 21:21] AlOneill commented on #1442
Turns out, FreeCEN downloadable files (test2) have also stopped working, with the same message from Dragonfly(?) as on FR. Have not fixed either.

All I can think of is either Refinery is updating the SHA off its own bat, for some reason, or that it is being instructed to do so by something else. Have we set an expiry date on our downloadable files or some-such? — @Captainkirkdawson @smrr723 any i

[2018-08-28 10:43] PatReynolds commented on #1256
Text above added to Information for Transcribers - [DRAFT] above warning re using images from Ancestry, etc., on test 3.

[2018-08-28 14:19] SteveBiggs opened #1566 "Edited entry still displays as previous version in summary search page"
Priority (3 6 9 5) 23
Given an economic benefit as incorrect search reduces credibility and hence reduces revenue

[2018-08-28 14:27] SteveBiggs commented on #1566
Yesterday morning a coordinator edited a 'zero year' record for Tho Harman Daneman born in Little Paxton, Hunts from 171_ to 1710. It does show up in a search but with the unedited old date of 171_:

![image](https://user-images.githubusercontent.com/25303607/44729296-6b04cc80-aad6-11e8-8af3-67d7af7f5e6f.png)

 When clicking on the row, it correctly shows the edited date of 1710:

![image](https:/

[2018-08-28 14:33] Captainkirkdawson commented on #1566
The entry is
{
        "_id" : ObjectId("5463eb42e9379027821fa891"),
        "error_flag" : "false",
        "line_id" : "meo2imma.HUNLPABA.CSV.329",
        "file_line_number" : 329,
        "register_entry_number" : "",
        "birth_date" : "17 Apr 1710",
        "baptism_date" : "",
        "year" : "1710",
        "person_forename" : "Tho. Harman",
        "person_sex" : "M",
        "father

[2018-08-28 15:28] Captainkirkdawson commented on #1566
The records show a slightly different process from what is described.
The entry shows that it was first created on "c_at" : ISODate("2014-11-12T23:20:34.527Z"). It was updated TODAY "u_at" : ISODate("2018-08-28T10:03:59.678Z").
However the search record shows it was updated YESTERDAY at "u_at" : ISODate("2018-08-27T10:33:14.538Z")
The attic shows that **an entry** was edited 2018-08-27T10:09:13+00

[2018-08-28 16:04] AlOneill commented on #1256
The 2 islets contain overlapping information, so I will combine them and edit the text for a better flow.

[2018-08-29 09:13] PatReynolds commented on #1455
Adverts 9011588433, 4776188342 and 8870759291 (the three ad versions currently live for FreeREG) are all responsive.  But not showing on my mobile (android) or tablet (android, chrome).

However (looking at the 'about' page, where he html is laid out neatly enough for me to read, I notice that
      <div class="banner-horz reg_adsense">
              <style>
        .adSenseBanner { width: 320px;

[2018-08-29 10:12] smrr723 commented on #1455
@PatReynolds you're on the right tracks.

That code is to make the adsense container responsive to page width changes, so if you have ads set to responsive in the Adsense settings, they _should_ auto resize.  Someone has set another property to override the above though, setting display: to 'none' below 950px, so the code above is redundant at the moment.

The changes I had made earlier removed th

[2018-08-29 11:08] PatReynolds commented on #525
#518, the ability for us to know that a record has been embargoed is closed.  Is this now available?  If not, I will make a new story.
Requirement for this story: https://docs.google.com/document/d/1QWQw1MEc6pyhR1U-pwuLNae8BtxFess7-FlKBVbCY6U/edit?usp=sharing

[2018-08-29 11:19] PatReynolds opened #1929 "21 Method of storing permissions from CRO, etc. jpg and hard copy (was #518)"
JPG are now stored on the G:drive (projects/freereg/sources_and_permissions). Is there somewhere more suitable? Does anyone not have access to this, who needs it?

Hard copies are not routinely made.  Where they exist, they are stored in date order in the general big blue box of Free UK Gen paperwork (in her desk in her office).

Suggested action: jpg are printed out.  Hard copies are retrieved fr

[2018-08-29 15:29] PatReynolds commented on #1249
Found written permission from 2014 (Caroline Kimbell). Now to chase images.

[2018-08-29 15:47] #1515 closed

[2018-08-29 15:47] #1541 closed

[2018-08-29 15:47] #1512 closed

[2018-08-29 15:52] richpomfret commented on #1562
Ready for deployment

[2018-08-29 15:57] richpomfret commented on #1371
@lemon-ukgen do you know have everything you need to move forward with this?

[2018-08-29 16:14] richpomfret commented on #1442
Suggestion of moving location (for now) to avoid above issue.

[2018-08-29 16:18] richpomfret commented on #1427
In that case we'll move forward with this and the next story. Steve to send out link for final feedback/request.

[2018-08-29 16:27] richpomfret commented on #1311
Will require documentation update.

[2018-08-30 20:44] SteveBiggs commented on #1427
Message sent to all coordinators and transcribers asking them to review proposed fields.

[2018-08-31 18:29] Captainkirkdawson opened #1568 "Rationalize secondary search date usage"
(1 3 5 5) 14
Until the new fields were added no record type had more than 2 dates; burials and marriages only had 1. Under the new fields ba has 4, and bu 2 and marriage 2. There should be no issue with bu and ma having 2 dates. However we can use only 2 dates used in ba for searching.
Need to rationalize order and usage.

[2018-09-01 14:41] Captainkirkdawson opened #1569 "[production][image_server_groups#update] NoMethodError: undefined method `update_image_and_group_for_put_request' for #<ImageServerGroup:0..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b8a902ee93790bded257d1e)

[2018-09-01 14:41] Captainkirkdawson opened #1570 "[production][assignments#assign] ActionController::UrlGenerationError: No route matches {:action=>"my_list_by_county", :controller..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b8aa242e93790bded257d24)

[2018-09-02 15:15] SteveBiggs opened #1571 "Accept Allocation Request is Failing"
Trying to accept the request via 'AL' results in error screen (Something went wrong ...)
depends on #1585
E - 0/10
U - 7/10
S - 8/10
C - 6/10

21

[2018-09-02 15:16] SteveBiggs commented on #1571
Files failing:
WOR, Belbroughton, Bap 1813-1852 JPG
WOR, Balsall Heath, Mar 1884-1886

[2018-09-02 15:17] SteveBiggs commented on #1571
Note also that the Report a Problem button has stopped working.

[2018-09-02 16:33] SteveBiggs opened #1572 "Report a Problem button has stopped working on all pages"

[2018-09-03 03:08] Captainkirkdawson commented on #1571
This is issue #1569 the specific errbit crash is https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b8a902ee93790bded257d1e

Proposed we close this one

[2018-09-03 03:11] Captainkirkdawson commented on #1569
The user sees this as story #1571

[2018-09-03 03:30] Captainkirkdawson commented on #1568
Code has been developed to address this requirement as part of #1101

ma and bu now will search both dates.
ba will search for any 2 of the 4 date fields, Priority  is the baptism field if it is there followed by the birth date (if there ) confirmation date (if there) and received into church (if there).
If there is no baptism field it will use birth date in preference to the other 2, if there are

[2018-09-03 07:34] SteveBiggs commented on #1497
The button has now disappeared completely from the detailed search result page.

[2018-09-03 15:53] #1562 closed

[2018-09-04 15:08] Captainkirkdawson commented on #1519
Interesting reading.
What may make it easy to implement may also make it very difficult for a tag manager to use is that in reality we only have one page.
All information is displayed within one layout
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/views/layouts/application.html.erb

[2018-09-04 16:41] Captainkirkdawson commented on #1572
An unintended consequence of a formatting change I made

[2018-09-05 14:55] SteveBiggs commented on #1484
When will the button to send complete email to CC for all groups be ready to test in test3?

[2018-09-05 17:00] Captainkirkdawson commented on #1484
Project assigned to bev currently under development

[2018-09-05 17:26] Captainkirkdawson commented on #1566
Available on test3

[2018-09-05 19:10] SteveBiggs commented on #1484
OK thanks

[2018-09-05 19:13] SteveBiggs commented on #1572
Looks good to me.

[2018-09-06 14:39] Captainkirkdawson opened #1575 "On line edit does not update the year field in the list of Register Batches"

[2018-09-06 15:34] Captainkirkdawson commented on #1484
bev's code deployed to test3 as part of #1101

[2018-09-06 16:30] SteveBiggs opened #1576 "Unallocate Image Group not working"

[2018-09-06 16:32] SteveBiggs commented on #1576
Tried unallocating this:
![image](https://user-images.githubusercontent.com/25303607/45171600-bb78da00-b1fa-11e8-810d-0d235f807b8b.png)
and got red "Something has gone wrong ...." error

[2018-09-06 16:45] DeniseColbert opened #1577 "Improve deliverability of messages"
Needs #1578
Needs #1579

Priority 0,6,7,?

[2018-09-06 16:46] DeniseColbert opened #1578 "Include a name of sender within a 'from field' which will appear in the email/message when sent."
Priority 0,6,7,?

[2018-09-06 16:47] DeniseColbert opened #1579 "Add an auto generated signature to messages"
To consist of full name and role in FreeREG / FreeUKGEN
Priority 0,6,7,7
20

[2018-09-06 21:54] Captainkirkdawson opened #1580 "Should on-line edit change processed date?"
It has been suggested that the processing date of a batch be changed if a single record is updated.
Currently  a batch contains a number of dates.
The date it was uploaded.
The date it was processed (as a batch).
The date it was transcribed and
The date it was last modified. This is the last time a record or the contents of the meta data about the batch changed.
All these are shown in the batch in

[2018-09-06 23:18] Captainkirkdawson opened #1581 "Rationalize the zero year calculation"
The selection and display of zero year entries makes no use of the year field and hence does unnecessary lookups and calculation.
In addition the code pays no attention to the other fields

Priority (0,4,5?)
required by #1094
required by #1118

[2018-09-07 00:32] Captainkirkdawson commented on #1575
Fixed and deployed in #1101 on test3

[2018-09-07 07:47] Sherlock21 commented on #1580
I agree that all your present dates are needed, and should continue to be kept.
However, from the point of view of a researcher, the online edit date, or the date the file was just reprocessed, may be significant and affect a record that the Researcher took data from. So if we ( a Transcriber, of a CC or whoever, in FR terms)  has changed something within the file, then its right to show ( as Last

[2018-09-07 07:52] Sherlock21 commented on #1581
Ar you saying here, that the year part (yyyy) of a Baptism Date in ddmmmyyyy terms, is not used to for the Zero Years calc & display?
If so, in an old BA file say, where there is usually only  one date, where does zero Years come from?

[2018-09-07 08:05] Sherlock21 commented on #1101
This story id #1101
There is also another story #1101 (111768646 Data Problem (Andy Phillips) #1101 is also #1101.
Please get rid of THIS story or renumber it.

 The Andy Phillips  story has much much more content, and is a more significant a job.

[2018-09-07 13:27] Captainkirkdawson commented on #1581
Nothing to do with any aspect of the zero year from a user perspective.

This is simply a requirement to clean up inefficient coding

[2018-09-07 13:29] Captainkirkdawson commented on #1101
This is a closed story

[2018-09-08 02:48] Captainkirkdawson commented on #1561
Fix added into 11o1 and deployed to test3

[2018-09-08 07:59] Sherlock21 commented on #1561
I started to test this out.
Went to Batches, and picked my test batch ericb.TSTZEROBA1.csv
Did SH to display the batch details, and then Destroy to completely remove previous debris.
Crashed out with the Red Oopps somethings gone wrong.

Stopped, and have gone out for the day ( cultural of course!).
  I will pick up when I get back

[2018-09-08 14:27] Captainkirkdawson opened #1582 "[production][freereg1_csv_files#destroy] NoMethodError: undefined method `file_and_entries_delete' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5983c4fce937903cff000006/problems/5b93804ee93790209b269c25)

[2018-09-08 14:34] Captainkirkdawson commented on #1582
@Sherlock21 This crash was caused by a failure to complete the processing of the original batch.
Have deleted the batch and records,
Will review the code that leads to the crash and terminate more nicely

[2018-09-08 15:29] Captainkirkdawson opened #1584 "[production][image_server_groups#send_complete_to_cc] NoMethodError: undefined method `chapman_code' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5983c4fce937903cff000006/problems/5b93e5fee93790f616e3aab9)

[2018-09-08 15:31] Captainkirkdawson opened #1585 "[production][image_server_groups#update] NoMethodError: undefined method `first' for #<ImageServerGroup:0x000000081ebb3ea8>"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5983c4fce937903cff000006/problems/5b93e801e93790f616e3aabc)

[2018-09-08 18:10] SteveBiggs commented on #1571
Now deployed to production and gives the same red error "Something went wrong ....."

[2018-09-08 18:12] SteveBiggs commented on #1484
Deployed to production and gives the same red error page "Something went wrong ....."

[2018-09-09 00:40] Captainkirkdawson commented on #1569
This specific issue is fixed

[2018-09-09 00:40] #1569 closed

[2018-09-09 00:41] Captainkirkdawson commented on #1571
The initial fix created another one #1585

[2018-09-09 14:05] Captainkirkdawson opened #1586 "[production][freereg1_csv_files#index] NoMethodError: undefined method `total_pages' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b95028be93790f616e3aad7)

[2018-09-09 14:51] Captainkirkdawson commented on #1586
minor issue created when reformatting index affecting display of no files.
xorrected and merged into master and deployed to colobus

[2018-09-09 14:53] Captainkirkdawson commented on #1572
Deployed to production  on colobus

[2018-09-09 14:54] Captainkirkdawson commented on #1561
Deployed to master and to master

[2018-09-09 14:56] Captainkirkdawson commented on #1566
Deployed to master and to colobus

[2018-09-09 14:57] Captainkirkdawson commented on #1568
Deployed to master and to colobus

[2018-09-09 14:57] Captainkirkdawson commented on #1586
Deployed to master and to colobus

[2018-09-10 14:26] bev-fc commented on #1484
@SteveBiggs fix is pushed to test3, please test it again.

[2018-09-10 14:56] bev-fc commented on #1571
@SteveBiggs Can you verify if this issue is solved too?

[2018-09-10 15:38] PatReynolds commented on #1578
Current 'from' is, e.g. "

freereg.edickens+REG@gmail.com via freeukgen.org.uk
--

"

Can you give an example of what is wanted?

[2018-09-10 16:09] SteveBiggs commented on #1484
@bev-fc it would appear to work now without error.

[2018-09-10 20:02] bev-fc commented on #1571
@SteveBiggs Can you test it again?

[2018-09-10 20:45] Sherlock21 commented on #1101
My point was that there are 2 totally different records with the same number #1101.

it matters not whether one is closed or not.  A search by number finds the wrong one ( i.e. this one)

[2018-09-10 21:40] SteveBiggs commented on #1571
@bev-fc it all seems to be working fine now thanks. Please push to production.

[2018-09-10 21:44] SteveBiggs commented on #1101
Eric, I'm afraid that appears to be the way github works. Closed issues' numbers get reassigned to later ones when they are opened.  @richpomfret should be able to explain it better than me.

[2018-09-10 22:06] bev-fc commented on #1571
@SteveBiggs @smrr723 Can you ask Scott to push it? Kirk is on vacation.

[2018-09-10 22:43] smrr723 commented on #1571
@bev-fc if you push up the branch for this Issue Bev, I will create a pull request and merge to master (to be deployed to production on Thursday).

Is it just the current bev_develop branch which needs merging?

[2018-09-11 08:33] smrr723 commented on #1101
I don't think Issue numbers get reassigned like that - the problem here is that we have multiple repositories dealing with FreeREG which results in duplication of issue numbers, i.e. Myopicvicar - https://github.com/FreeUKGen/MyopicVicar/issues, and FreeREGProductIssues - https://github.com/FreeUKGen/FreeUKRegProductIssues/issues, and now also FreeREGNonProductIssues?

Quite confusing when these a

[2018-09-11 09:10] SteveBiggs commented on #1101
Thanks Scott. I see what you mean. When someone 'Reports a Problem' on the FR website, it gets (automatically) raised as a FreeUKRegProductIssue, but when an issue is raised directly (manually) on the waffle board, it is under Myopicvicar. As you say, confusing!

[2018-09-11 11:58] bev-fc commented on #1571
@smrr723 Yes only bev_develop branch.

[2018-09-12 09:09] SteveBiggs commented on #1484
Please push to production

[2018-09-12 09:11] SteveBiggs commented on #1572
Tested and working in production.

[2018-09-12 09:12] SteveBiggs commented on #1566
Tested and good in production.

[2018-09-12 09:13] SteveBiggs commented on #1568
Tested and good in production.

[2018-09-12 09:14] SteveBiggs commented on #1575
Tested and working.

[2018-09-12 09:16] Sherlock21 opened #1588 "Contract Date entry in Flexi Marriages batch failed to get read in from my batch."
Using a flex file, I uploaded a Marriages file (eric.DEVflexiTestMA10.csv). that was OK.
Then added 3 ( proper ddmmmyyyy format) Contract Dates into my file and Reloaded. again OK
Then added in a contact date of 1950? and reloaded that. It uploaded OK and the email say no errors, but the row that contains this Contract Date of 1950? does NOT show any value in Contract date. - rest of that row is O

[2018-09-12 15:29] #1572 closed

[2018-09-12 15:29] #1561 closed

[2018-09-12 15:31] #1566 closed

[2018-09-12 15:32] #1568 closed

[2018-09-12 15:57] #1586 closed

[2018-09-12 15:57] #1554 closed

[2018-09-12 15:58] richpomfret commented on #791
Has this been completed/deployed?

[2018-09-12 15:59] richpomfret commented on #1498
Has this been completed/deployed?

[2018-09-12 16:02] richpomfret commented on #1575
Ready to deploy to production.

[2018-09-12 16:07] Sherlock21 commented on #1575
But Rich
Isn't Kirk saying in 2 above yours, that he has already deployed this to Production as part of 1101?

[2018-09-12 16:13] SteveBiggs commented on #1427
Have had a lot of responses and updated the fields accordingly. Please can everyone have another look to see if we have everything we need? Assume we need to wait for Kirk to return before we can progress anyway?

[2018-09-12 20:03] SteveBiggs commented on #1498
Yes, this is deployed to production and available.

[2018-09-12 20:06] SteveBiggs commented on #791
Yes deployed, although there is a typo in processed:

![image](https://user-images.githubusercontent.com/25303607/45450288-a9ea7300-b6cf-11e8-910d-367ca5538b58.png)

[2018-09-13 10:41] PatReynolds commented on #1374
Contacted Wikitree, Family Tree Maker and Evidence Explained 13/9/2018

[2018-09-15 18:02] smrr723 commented on #1585
I'm seeing a commit message in the latest bev_develop branch for this issue, so appears to be complete.

[2018-09-15 18:04] smrr723 commented on #1570
For info - appears to be resolved and now in production.

[2018-09-17 10:11] Sherlock21 opened #1596 "Online Edit of a field sometimes generates a Zero Years Error flag when none exists"
i edited one of my files online, to get rid of a Groom’s Condition - i put "a minor" instead of “minor” in the file. this edit was accepted,
Then looked back to My Batches, and this same batch had acquired a Zero Years flag which had not been there before.
Somewhat annoyed, I fiddled online but could not find any date that looked to have an error ( or was missing) and I could not get rid of the ze

[2018-09-17 10:14] Sherlock21 commented on #1596
As it happened, yesterday, I received this following email from Jackie (SOM CC):-

I had a problem yesterday. can you help please?

REPLACED SOMPTMBA02 (because the transcriber who works in Excel had changed a load of entries, so I had to rreconvert his amended file for him)

First processing failure because inadvertently he'd replaced PR with GR after 300+ Church names.
After several attempts at

[2018-09-17 17:01] Captainkirkdawson opened #1598 "[production][countries#edit] NoMethodError: undefined method `country_select' for #<SimpleForm::FormBuilder:0x000000081b190ff0>"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b9fdd1fe93790dee7b4d052)
# NoMethodError: undefined method `country_select&#39; for #&lt;SimpleForm::FormBuilder:0x000000081b190ff0&gt; #
## Summary ##
### URL ###
[https://www.freereg.org.uk/countries/531a183b231040eea6000003/edit](https://www.freereg.org.uk/countries/531a183b231040eea6000003/ed

[2018-09-17 17:03] smrr723 commented on #1598
Appears when attempting to edit details for a country/change country coordinator.

[2018-09-19 10:41] suffolkroots opened #1599 "CC actions zero dates"
Please could we have the opportunity to "Review batches with zero dates" included in the list of CC actions.
needs #1581

[2018-09-19 10:51] SteveBiggs commented on #1599
Makes sense to add this.

[2018-09-19 14:55] Sherlock21 commented on #1596
In case this is significant, the tests refereed to for #1101 were with flexi files.
In both cases of the events listed above, these were with old Fixed files.

[2018-09-23 15:16] SteveBiggs opened #1600 "Initialise Multiple Image Groups"
Economic 0, Urgency 3, strategy 8, cost ?6? Priority ?17

[2018-09-24 15:32] richpomfret commented on #1596
@Sherlock21 have you experienced this too or managed to replicate it at all? It looks like there might be a few issues around zero years..

[2018-09-24 15:44] richpomfret commented on #1588
Needs further testing. @Sherlock21 is this issue 100% whenever the Contract Date is used?

[2018-09-24 16:47] SteveBiggs commented on #1580
In answer to the title of the issue, I do not believe that editing a single entry should change the processed date. The processed date is when the complete batch was last processed, whereas when one entry is edited, only the 'date modified' should be updated.

It would make sense (to me) to have the date modified in the index display.

[2018-09-24 16:53] SteveBiggs commented on #1600
This is required before we can ask coordinators to start marking their image group status so that the RAP report is accurate.  I would like to ask Bev to work on this before Kirk returns.

[2018-09-24 17:57] SteveBiggs commented on #1571
Reported as working on production now. Can close.

[2018-09-24 18:09] bev-fc commented on #1600
I will work on it.

[2018-09-24 19:02] SteveBiggs commented on #1575
Tested and working in production. Can be closed.

[2018-09-24 19:04] SteveBiggs commented on #1600
Thanks Bev. Let me know if you need any more information.

[2018-09-26 12:56] bev-fc commented on #1600
@SteveBiggs please verify if the change works as expected.

I am not sure with one thing: For "Initialize Image Groups" page, should I include both UNALLOCATED and UNINITIALIZED (the source is not initialized yet) image groups or just UNALLOCATED image groups.

[2018-09-26 13:28] SteveBiggs commented on #1600
Thanks @bev-fc, yes it works as expected.

It should only be Unallocated that can be set here. Uninitialised can be changed to Unallocated at the Source level.

There is another issue (#1544 ) to allow Completed and Transcribed groups to be changed, but they should only be done at the individual group level since they will be a rare exception.

[2018-09-26 13:38] SteveBiggs commented on #1544
Detail: the Initialise Image Group button should be available for groups that are Complete or Transcribed as well as the current Unallocated:
![image](https://user-images.githubusercontent.com/25303607/46083526-8e846b00-c199-11e8-8406-aaeba491267f.png)
so they can be changed back to Unallocated.

[2018-09-26 15:27] SteveBiggs commented on #1498
Have found Eric's original issue:

The description of the Register Type in this report varies for the same Register Type.
![image](https://user-images.githubusercontent.com/25303607/46090559-e37bad80-c1a8-11e8-9f99-dff57af74f19.png)
If one is OT and the other TR, then this is a great help in resolving another problem. Please confirm.
It would be easier if the Register Type code is put here, and le

[2018-09-26 15:35] #1571 closed

[2018-09-26 15:35] #1484 closed

[2018-09-26 15:45] richpomfret commented on #1144
@benwbrum is this ready for testing?

[2018-09-26 16:01] richpomfret commented on #1570
@bev-fc can we confirmed this has been resolved?

[2018-09-26 16:06] richpomfret commented on #1544
Hi @bev-fc is this something you might be able to take a look at?

[2018-09-26 16:16] PatReynolds opened #1923 "24P Chase CoE re copyright"
Check advice book, then email team on next action
Econmic: 3: Urgency 4: Strategic: 7: Cost 8 Priority 4

required by #1015

[2018-09-26 16:58] bev-fc commented on #1600
@SteveBiggs Modified to only Unallocated groups will be listed

[2018-09-26 17:19] bev-fc commented on #1544
@richpomfret from code level I can make the change, but I am not sure if it follows the process design, is it okay to wait till Kirk comes back?

[2018-09-26 18:54] benwbrum commented on #1144
It is deployed on test2, and I believe it should be ready for testing.  The
data itself is not quite ready to setup the browse-for-seo testing, I'm
afraid...

Ben

On Wed, Sep 26, 2018 at 10:54 AM Rich Pomfret <notifications@github.com>
wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <https://fromthepage.com/>

[2018-09-26 18:54] SteveBiggs commented on #1600
Thanks @bev-fc

[2018-09-26 18:58] SteveBiggs commented on #1544
@bev-fc, Kirk is aware of this need so there is no need to wait for his return.  Thanks

[2018-09-26 19:38] Sherlock21 commented on #1596
I have been off on a few days break - so sorry for delay.

I experienced the same effects as Jackie describes, at about the same time but independently of Jackie.

I repeated it once at theta time too. But I have not tried to do any further repeats since as I have not been around..

[2018-09-26 19:42] Sherlock21 commented on #1588
I had one Marriages file that I was testing with. it contained just a  few records - says 30 or so.

I gave only 2 or 3 of the records one of these new Contract dates. and got the result described above.

When I removed completely the Contract date, but left to whole of the record including its real (i.e. Old style) marriage date, I could get it to load then..I only tried with this one file - as m

[2018-09-27 09:39] smrr723 commented on #1144
Gave test2 a quick test as requested @PatReynolds, searching JOHN SMITH, 1730-1790, Buckinghamshire.

The URL of an individual entry, when clicked is - https://test2.freereg.org.uk/search_records/5817ac4ce93790eb7f5d0f0f/esther-weston-joh-smith-marriage-buckinghamshire-aston%20clinton-1730?search_id=5baca159e937908c3c82c38f&ucf=false

So that seems ok, I think?  Not quite sure what the requirement

[2018-09-27 09:56] richardofsussex commented on #1144
That deals with the 'prettify' aspect of the requirement; what about the 'persistent' aspect? Is the URL fragment /5817ac4ce93790eb7f5d0f0f, or the search_id 5baca159e937908c3c82c38f, meant to be the persistent aspect?
The error message is caused by Git diff markers being left in the source code; some form of Git resolution is required, I think.

[2018-09-27 11:29] benwbrum commented on #1144
I agree with Richard on the bad merge of the git source.  Let's move this
one back to 'in progress' and I will fix that.

Half of persistence is accomplished by making the URL no longer dependent
on the search_id parameter -- we should be able to delete all the query
parameters after the ? (including it as well) and have the URL still work.
I need to review our discussions of this issue several mo

[2018-09-27 18:30] bev-fc commented on #1544
@SteveBiggs Please verify if it works as expected.

[2018-09-28 08:55] SteveBiggs commented on #1544
@bev-fc yes all looks good thanks.

[2018-09-30 13:50] Captainkirkdawson opened #1604 "Error Message at /manage_counties/ at Manage Images selection"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bb0661be93790d93714472f)

Economic 0, Urgency 6, Strategy 8, Cost ?7 (for investigation): P=23
needs #1619

[2018-09-30 13:56] smrr723 commented on #1604
Error message being shown at https://www.freereg.org.uk/manage_counties/selection?option=Manage%20Images when users navigate to Manage/County/Manage Images, although navigating via /Manage Image Server and /Manage Syndicate/Manage Images, both work.

As discussed earlier @SteveBiggs

[2018-09-30 14:15] smrr723 opened #1605 "Physical File Processing - Processor Stopping unexpectedly with very little Error info"
The CSV processor stopped processing files for approx 12 hours or so, starting between 10am & 11am on Sept 28th.  I have downloaded a copy of the passenger.log file from that day, if required.

The issue has resolved itself, but there was very little feedback from the logs, and nothing shown in errbit, to notify of what the issue was, although we suspect it was caused by a problem file that was up

[2018-09-30 14:18] smrr723 commented on #1605
@SteveBiggs @Sherlock21 - FYI, related to issues from this weekend, in case you want to add anything to this story.

[2018-09-30 17:37] Sherlock21 commented on #1605
I suspect that it had stopped prior to me trying to upload file WOCCRLMA.csv in the userid of davejo - because later in the morning, when I tried to load that file into T3, it worked OK straight away.
The only thing I had done prior to this was to use my "Super completely delete a batch" - on an STS file (but I don't remember the filename), which eventual  gave me the Gateway timed out even though

[2018-10-01 04:15] Captainkirkdawson commented on #1605
The processor  does  log messages to passenger  log  it crashes

On Sun, Sep 30, 2018, 17:15 Scott Murray <notifications@github.com> wrote:

[2018-10-01 08:59] edickens commented on #1498
Yes, that was my request.

[2018-10-01 13:29] SteveBiggs commented on #1604
The last action carried out by Ali was to create a Parish Register for Barnoldswick Holy Trinity, then click Create Image server. This gave the red "Something is wrong ...." message and now that comes up on trying to select Manage Images under Manage County for WRY.

I looked on the image server and the register folder for Holy Trinity was created.

[2018-10-01 20:39] bev-fc commented on #1570
@richpomfret last time it happened was 20 days ago, I think it's confirmed the issue has been solved.

[2018-10-01 22:05] smrr723 commented on #1604
@SteveBiggs @bev-fc - status update: code fix pushed up to colobus only, but no luck - still getting the Errbit error.

@SteveBiggs - can you confirm the error began on the 29th (Saturday night)?  This is what it looks like from the emails.  The log files are massive so I just want to make sure I'm looking at the right day.

I'll resume looking into this tomorrow.

[2018-10-02 08:47] SteveBiggs commented on #1604
Yes, Ali reported that it started on Saturday night. I'm wondering if it would help to delete the empty Barnoldswick Holy Trinity folder from the image server since that was the last action Ali made? @edickens could you delete it please?

[2018-10-02 08:55] smrr723 commented on #1604
Ok, thanks.

Her previous action was going to be my next question, so yes, definitely give that a try, and failing that - check if there were any other folders she was uploading to around the same time, and do the same.

[2018-10-02 09:19] SteveBiggs commented on #1604
Let's see if deleting Holy Trinity helps first. Prior to that Ali had been uploading lots of images to Barnoldswick St James PR, but that was before the error occurred.

[2018-10-02 14:32] SteveBiggs commented on #1604
@edickens has deleted the Barnoldswick Holy Trinity folder from the image server, but it has not affected the problem. Do we have to look at deleting Barnoldswick St James PR and all the (hundreds of|) images Ali uploaded on Saturday? I have little confidence that will make a difference either, but maybe worth a try. Perhaps @edickens can re-upload them after the issue is resolved?

[2018-10-02 14:40] Sherlock21 commented on #1604
Just hold off a moment please.

Discuss with Ali Hill first, as there happens to be an issue with the Church names in Barnoldswick, which needs resolving at the sae time.

[2018-10-02 14:52] edickens commented on #1604
We first need to find out why we cannot get into WRY Manage Images when we can for other counties.

[2018-10-02 14:55] SteveBiggs commented on #1604
@edickens that is the whole purpose of this issue

[2018-10-02 15:03] edickens commented on #1604
Kirk told me that deleting, or making an changes, via BitKinex will upset the links within the server, so must only be done with great care.
Let me know what you find with the Church names.

[2018-10-02 15:05] Sherlock21 opened #1607 "Finding a file from Logon Landing Page does not necessarily find it."
I needed to find a file called davejo.STSWVMba10.csv which was in the list or files Not Processed on 30 Sept 2018. But the link did not show the file.
Yet the CC assures me the file exists - its in Wolverampton / St Mary.
The WOR CC advised me that this userid is in Rest of England group.
IF you Look up the syndicate for Rest of England ( ie Doreen’s_
and pick davejo this is what you see. Note his

[2018-10-02 15:06] Sherlock21 commented on #1607
/Users/eric/Desktop/davejo-syndicatedetails.jpg

[2018-10-02 15:20] SteveBiggs commented on #1604
Just checked with Ali -
- there is nothing wrong with Barnoldswick church names on the site. It is a separate off-site issue re which is parish church.

I agree we should not delete any more images/folders from the server. @smrr723 @bev-fc do you have any other ideas to try to fix this please?

[2018-10-02 15:55] edickens commented on #1604
I can reinstate the Holy Trinity folder if necessary because there were no images.

[2018-10-02 16:04] SteveBiggs commented on #1604
Not sure it will make any difference, but you can try it.

I tried deleting the Holy Trinity register as it has no batches under it, but that failed because it says there are dependent documents, so it still thinks there is a corresponding folder on the IS even though you deleted it.

[2018-10-02 16:42] edickens commented on #1604
I think the dependent document is a Source, but there is no means to delete it.

[2018-10-02 16:46] edickens commented on #1604
Barnoldswick Holy Trinity PR reinstated.

[2018-10-02 17:21] smrr723 commented on #1604
@bev-fc and I are discussing a solution to print out some log info first so we can try to identify the problem file, and we can take it from there.

[2018-10-02 19:27] smrr723 commented on #1604
@bev-fc - log output below..

[code]

If I'm interpreting this correctly, it looks like the server timed out on the source which causes the error, before printing off it's params - because there was a `nil` field in there.  The source_ids are in order though, so it may be possible to find the next one in line.

The problem is with the Image Server and accessing it to delete files - there's no docu

[2018-10-02 19:55] bev-fc commented on #1604
@smrr723 I think I can add only not nil values will run https://github.com/FreeUKGen/MyopicVicar/blob/master/app/models/source.rb#L93 to render the result except the broken one, but I don't know if I am supposed to make a detour like this over the production code.

[2018-10-03 13:19] smrr723 commented on #1604
@bev-fc - also unsure if adding this exception would be safe or not, so better to wait perhaps.

I will mention @Captainkirkdawson in case he is able to see this and chime in via email.

[2018-10-03 14:28] benwbrum commented on #1144
This is deployed on `test2` and ready for exploration.

Example of URL which should be permanent (i.e. not dependent on search query state) and friendly:
https://test2.freereg.org.uk/search_records/5817c0c0e93790eca3cfa9a8/john-whittle-baptism-worcestershire-redmarley%20d'abitot-1714

[2018-10-03 14:50] edickens commented on #1144
Will this be unique?  Places have more than one Church.  And someone may appear in both a Parish Register and a Bishops Transcript.
Perhaps the long number will sort it out.  I've only looked at the text part.
But it works.

[2018-10-03 17:40] benwbrum commented on #1144
The number does make the URL unique, so it is a reference to this specific
record on our system.

On Wed, Oct 3, 2018 at 9:50 AM Eric Dickens <notifications@github.com>
wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <https://fromthepage.com/>

[2018-10-04 08:38] PatReynolds commented on #1144
Search query gets : https://test2.freereg.org.uk/search_records/5818442de93790eb7f7ad5db/ann-bainbridge-william-rowntree-marriage-yorkshire,%20north%20riding-east%20hauxwell-1825?search_id=5bb5cf89e937900aa3f62968&ucf=false

How do I (as a researcher) get to the more readable
https://test2.freereg.org.uk/search_records/5818442de93790eb7f7ad5db/ann-bainbridge-william-rowntree-marriage-yorkshire,%20

[2018-10-04 08:45] PatReynolds commented on #1144
Hie @edickens the unique bit is before the last stroke, so for Ann and William's marriage, the unique bit (indeed, the only bit you need to copy and paste) is
https://test2.freereg.org.uk/search_records/5818442de93790eb7f7ad5db/
anything that comes after that is not used at all in finding the record, it's just there so when you see the url, you can remember which person/event it is that you are lo

[2018-10-04 08:53] edickens commented on #1144
What message is given to a researcher if one of these URLs fails?  This can happen if the entry is deleted by the transcriber because say the batch has been duplicated.  I cannot test this.

[2018-10-04 08:59] PatReynolds commented on #1144
Good question, Eric.  I just tried slightly altering the permanent url (reversed last two characters) and got this:

https://test2.freereg.org.uk/search_records/5818442de93790eb7f7ad5bd

I think this is acceptable (i.e. pretty obvious 'something went wrong!!!!' message, but not user-friendly.  If there is no Bad Stuff (tm) that can happen as a result, we should look, longer term, at seeing how we

[2018-10-04 10:17] benwbrum commented on #1144
I very much like the idea of replacing spaces with hyphens.  None of my
testing apparently used multi-word names!

On Thu, Oct 4, 2018 at 3:59 AM PatReynolds <notifications@github.com> wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <https://fromthepage.com/>

[2018-10-04 10:17] SteveBiggs commented on #1144
I think the researcher should be returned a much clearer error page than that, stating something straightforward like "Invalid Search URL, please check" or similar.

[2018-10-04 10:28] edickens commented on #1144
But they would not have created the URL, so it would have been valid when they saved it.  The messages should be more like "This entry has been changed so that this URL is no longer valid, please redo your search and save the new URL."
And what happens if a name is amended?  My guess is that the URL will work, but bring up the revised name.  Probably OK, but the researcher may be confused.

[2018-10-05 18:54] richardofsussex commented on #1144
On 04/10/2018 11:17, Ben W. Brumfield wrote:
I very much like the idea of replacing spaces with hyphens. None of my
testing apparently used multi-word names!
Can't you use '+', which actually means space?

Richard

On Thu, Oct 4, 2018 at 3:59 AM PatReynolds <notifications@github.com><mailto:notifications@github.com> wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <h

[2018-10-08 08:16] PatReynolds commented on #1475
Working fine for me, thank you.

[2018-10-08 10:47] suffolkroots opened #1611 "Unexplained zero dates"
![zero date](https://user-images.githubusercontent.com/10379655/46605000-ed2ddb00-caef-11e8-82f8-80f443876e26.jpg)
needs #1581

[2018-10-08 14:30] PatReynolds commented on #1369
Is this needed to implement the new colour scheme?

[2018-10-08 14:35] SteveBiggs commented on #1611
I've experienced similar issues - sometimes a reprocess of the file fixes the zero dates, but other times each individual "zero" record needs to be edited to force it to reprocess and correct it. We need to find the underlying cause.

[2018-10-08 15:02] PatReynolds commented on #1611
Can be cleared by making some edit in the record - e.g. putting a full stop in the notes field.

[2018-10-08 15:37] PatReynolds commented on #1560
Discussed: is country coordinator needed at all - would multiple county coordinators work just as well?  Needed to allow one person to view all the images in, e.g. Wales.

[2018-10-08 15:47] suffolkroots commented on #1611
As will be seen from the explanation of the problem, it has happened because of an edit.
As Steve so rightly says, we need to find the underlying cause.

[2018-10-08 16:30] AlOneill commented on #1369
@PatReynolds More an issue of needs to be addressed for current and new colour schemes OR not at all — if we choose not to cater for users with browsers that can't use data.png (have a feeling that could be expressed a lot more clearly!)

[2018-10-08 18:43] Sherlock21 commented on #1611
I thought that we had fixed this one just a few weeks ago? Or did it not get loaded into Production? - only Kirk & Scott will know.

Meantime if this is the same issue as existed as over the past months, then the solution that always worked then, was to Reprocess the file - using the Reprocess action or by uploading a Replace version of the file.

[2018-10-08 20:13] Sherlock21 commented on #1588
Before I start, please define the parameters of this field: Contract date as this is an unknown to me and its not defined your in Transcriber Help.

-is it a simple ddmmyyyy form date?
-is it linked to any other date field by rule - e.g. this Contract_Date can only exist if Marriage_Date is nul for example, or can it co-exists?
- What else should I know about the field at this stage?

[2018-10-08 20:20] Sherlock21 commented on #1611
FYI
I have uploaded Ali's file into T3 in my name, (i.e. with the Edited items in it) - i.e. exactly as it now appears in FR.
There are NO errors or flags of any sort  present - thus confirming there are NO errors in the data now. So the issue must remain within the Proocessing of an Online Edit action.

[2018-10-09 10:28] smrr723 commented on #1144
From an SEO (and readability) perspective, hyphens are recommended over anything else for word separation.

'+' seems to be recommended for dynamic urls only and not static.

https://webmasters.stackexchange.com/questions/374/urls-should-i-use-hyphens-underscores-or-plus-symbols
https://support.google.com/webmasters/answer/76329?hl=en

[2018-10-10 15:24] SteveBiggs commented on #1426
Looks good - and it shows Jo Summerfield's secondary role of Volunteer Coord.

[2018-10-10 15:38] #1427 closed

[2018-10-10 15:42] #1600 closed

[2018-10-10 15:47] Sherlock21 commented on #1611
Can we please have a speedy coded solution to this problem?

There are much more useful things for CC's and me to do than chase round trying to get one of the workarounds to fix these Zero Date Errors - e.g. like Reprocess file (which does not always work for some reason). The next option is for the CC to get me to delete the Zero Dates /Error file, and reload it - A total waste of our time.
ELSE

[2018-10-10 15:50] richpomfret commented on #1470
To test on TES2.

[2018-10-10 15:52] benwbrum commented on #1144
I think I've just fixed the problem with spaces.  I'd recommend testing on records that are in places or churches that contain spaces or apostrophes in their names.

This is ready to test on `test2`.

[2018-10-10 16:13] richpomfret commented on #1604
@Captainkirkdawson what are your thoughts on this one?

[2018-10-10 16:38] richpomfret commented on #1497
Tested on firefox and button appears at the top and bottom just fine. The report flow seems much improved over the original and I think we can now close this issue. A user reporting a problem submits and is taken back to the results screen and informed 'Thank you for contacting Us'.

[2018-10-10 16:39] #1497 closed

[2018-10-10 16:50] richardofsussex commented on #1144
Urls look fine now (though I haven't turned up any apostrophes).  Is the identifier part of it now persistent across database builds?

[2018-10-11 00:51] Captainkirkdawson commented on #1144
@richardofsussex FR is not rebuilt. In fact it has never been rebuilt after the initial creation some 3 years ago. It is continuously updated with new and corrected records from uploaded files and online editing. A corrected or edited record may or MAY NOT retain the original record identifier depending upon the nature of the fields that are changed.

[2018-10-11 07:19] richardofsussex commented on #1144
Thanks - I was thinking that FR was like BMD (clearly not). So, in order to achieve persistent URLs, we need to revise the updating strategy so that record identifiers never change. What are the challenges in doing this?

[2018-10-11 10:59] SteveBiggs opened #1613 "18 Identify County for requested image groups"
When a transcriber submits a request for an image group, their SC gets an email that only states the image group name, for example: "....requests to obtain images in Newport-Catholic OT/NewportCatholi". There is no indication of which county, Newport is in, so the SC does not know where to request the group from.

[2018-10-11 11:13] edickens commented on #1613
They need the Source name.  That will give County, Place, Church and Register Type.

[2018-10-11 11:34] SteveBiggs commented on #1613
Will it? The Source name is "Image Server".

[2018-10-11 11:35] smrr723 commented on #1426
Thanks @SteveBiggs

[2018-10-11 15:06] Captainkirkdawson commented on #1144
@richardofsussex
FR is based on a totally different concepts and technology from BMD. It was designed to support both file and online data entry systems such as script. The latter was never completed for a variety of reasons. However the underlying database supports it should it ever be developed. As noted it is currently possible to do online entry and correction and our members do online editing

[2018-10-11 15:41] Captainkirkdawson commented on #1604
@smrr723 @bev-fc @SteveBiggs Will look at later today when the brain wakes up

[2018-10-11 18:01] richardofsussex commented on #1144
Can't the original shard key be stored in an additional field, and this field 'carried forward' when the record is updated?

[2018-10-11 23:10] Captainkirkdawson commented on #1604
@smrr723 @bev-fc @SteveBiggs @edickens @richpomfret

A mongo search  db.sources.find({source_name: { $exists: false }}).pretty() shows that

The Parish Register register for Holy Trinity in Barnoldswick of Yorkshire, West Riding has a source that contains no source name.

It was created on September 29.
 "_id" : ObjectId("5bafd24cf493fd72687a9a8f"),
        "original_form" : {
                "typ

[2018-10-11 23:32] Captainkirkdawson commented on #1498
As far as I am aware this issue was resolved before I left on vacation. I corrected the display to use the actual register type and not the internal code and to do so in a consistent manner.

[2018-10-12 03:16] Captainkirkdawson commented on #1605
@smrr723  @Sherlock21
There is no evidence in the logs that the processor actually crashed.
Given that and that there were no multiple message files created and the fact that the processor "appeared" to recommence with no intervention I believe the problem was caused by the file/entry deletion action undertaken by @Sherlock21.
ie the processor did not stop but simply slowed down.
Such deletions ar

[2018-10-12 08:08] edickens commented on #1498
Perhaps it needs to be pushed to production.  This is what is there now:-
![capture1](https://user-images.githubusercontent.com/8876165/46856408-4488bf80-cdfe-11e8-8e11-498d6439aad5.JPG)
where there are entries with no Register Type.  Just the two letter code in this column would do.

[2018-10-12 08:16] edickens commented on #1604
Thanks Kirk.  We can now upload the images.
Does a check need to go in "Create Source" to ensure that there is a name?  I can't see how this occurred because the creation of a Source is automatic.  It was created correctly in the Images folders.
We do not have any means to enter a Source name, or edit it, or delete it.  Do you think it will happen again?

[2018-10-12 08:29] edickens commented on #1613
I meant that we should quote the path to the Source.

[2018-10-12 08:41] edickens commented on #1144
I think we need to get this into perspective.  The number of times a record changes is small, and the odds that it will be one where someone has saved the URL are longer than winning the lottery.
So Kirk's suggestion to just request the search to be done again is the best.
Remember that names get edited more often than anything else, so the original search is no longer correct.

[2018-10-12 08:51] richardofsussex commented on #1144
OK, I'm happy with that. I had no idea how frequently records get updated.  Could the data in the 'friendly' bit of the URL be used to suggest what the search should be?

[2018-10-12 09:38] smrr723 commented on #1604
@Captainkirkdawson thanks, Kirk.

@bev-fc FYI - I've removed the diagnostic log message from master with a `revert merge`, so just needs to be removed from your own branch now before your next push.

[2018-10-12 09:48] SteveBiggs commented on #1604
Reiterating @edickens points, do we know:
- how/why this happened?
- is it possible/likely to happen again?
- can anyone else fix it if @Captainkirkdawson is unavailable?

[2018-10-12 11:39] PatReynolds commented on #1144
Hi @richardofsussex I think https://test2.freereg.org.uk/search_records/5818442de93790eb7f7ad5db/ann-bainbridge-william-rowntree-marriage-yorkshire,north-riding-eastphauxwell-1825 or https://test2.freereg.org.uk/search_records/5817c0c0e93790eca3cfa9a8/john-whittle-baptism-worcestershire-redmarle-d'abitot-1714
is pretty likely to be unique (or at least only a handful of record), even if it is John

[2018-10-12 11:44] richardofsussex commented on #1144
I wasn't suggesting adding anything to the URL, only that its content could be used to frame a search for the edited record, rather than expecting the researcher to start again from scratch.

[2018-10-12 12:55] SteveBiggs opened #1618 "Remove Completed groups from Syndicate"
When an image group is sent back to the County and accepted as Complete, it remains in the list of Allocated groups fro the Syndicate. This clutters the list and makes it increasingly hard to identify what is truly left available for assignment to a transcriber. Completed groups need to be removed from the Syndicate.

[2018-10-12 12:58] SteveBiggs commented on #1618
Apologies, this has already been done!

[2018-10-12 12:58] #1618 closed

[2018-10-12 13:54] Captainkirkdawson commented on #1604
@SteveBiggs
Raised new story to research specific event to address point 1.
Cannot answer point 2 without knowing answer to point 2.
Cannot answer point 3.

[2018-10-12 13:58] Captainkirkdawson opened #1619 "Research creation of source with nil source_name"
Using same priority as original story.

[2018-10-12 13:59] Captainkirkdawson commented on #1619
It was created on September 29.
"_id" : ObjectId("5bafd24cf493fd72687a9a8f"),
"original_form" : {
"type" : "fiche",
"name" : ""
},
"notes" : "",
"start_date" : "",
"end_date" : "",
"creating_institution" : "ManCity",
"holding_institution" : "",
"restrictions_on_use_by_creating_institution" : "",
"restrictions_on_use_by_holding_institution" : "",
"open_data" : false,
"url" : "",
"register_id" : Obj

[2018-10-12 14:03] Captainkirkdawson opened #1620 "Document use of refinery message alert"
There are occasions when an alert needs to be presented to the community.
We have the ability to display an alert message on the search page but this process is undocumented
The search page will display a refinery message file that can be used to alert the community to an existing problem with the app or its servers.
This needs documentation and perhaps a tweak. The message is currently displayeda

[2018-10-12 14:06] Captainkirkdawson opened #1621 "Document file processor error analysis"
Document the process to assess file processor malfunction real or perceived.

[2018-10-12 14:14] Captainkirkdawson opened #1622 "Document community alert"
The search page will display a refinery message file that can be used to alert the community to an existing problem with the app or its servers.
This needs documentation and perhaps a tweak. The message is currently displayedat the bottom of the page and might be better at the top.

[2018-10-12 14:15] #1622 closed

[2018-10-12 14:46] Captainkirkdawson commented on #1498
It is in production.
This "may" be a one off.  None of the displays I have used have a blank.
It would be helpful to know how you generated this one.

[2018-10-12 14:59] Captainkirkdawson opened #1623 "Change missing search record rescue"
There is currently a rescue for a missing search record document. This generates a simple error message.
Modify the message in the light of the friendly url capability

Economic 4, Urgency 3, Strategy 4, Cost 6: Priority 17

[2018-10-12 15:04] Captainkirkdawson commented on #1144
story #1623 generated to change rescue messages

[2018-10-12 15:22] Captainkirkdawson commented on #1619
Log shows there was an error during creation
App 94824 stdout: Processing by SourcesController#create as HTML
App 94824 stdout:   Parameters: {"utf8"=>"✓", "authenticity_token"=>"RuFi6z03VuvpqKyvJ0Lwvy9j16VwAf0UYG2PCxZHwrS9zOJ81VWV1CqeRGiND0QG7VNy4LLTU/4z8s2BYo8gxg==", "source"=>{"notes"=>"", "start_date"=>"", "end_date"=>"", "original_form"=>{"type"=>"fiche", "name"=>""}, "creating_institution"=>

[2018-10-12 16:35] edickens commented on #1498
Hi Kirk,
Angus (ANS) and list batches by filename.
Eric

[2018-10-12 16:41] edickens commented on #1619
Interesting.  It was created by Jo (LAN), but in WRY.  So was Jo creating something and it crashed and ended with a part created Source in WRY?  WRY is the last County.

[2018-10-12 18:43] Sherlock21 commented on #1619
If this story is about  the Parish Church of Barnoldswick, then the Placename was in LAN ( in error) so thats why Jo started off the Transcriptions. and asked me to confirm the church name. My investigation eventually gave rise to the "relocation" or the place, into WRY. and Jo sent the source material to Ali to continue with. After much further research, Ali & I determined the Church name to be S

[2018-10-12 21:30] Captainkirkdawson commented on #1619
Research shows that it was possible crash the source creation process due to the need for confirmation that the action was being done by a permitted user. Since the image server  never logs in there is a possibility that the action to complete the source document does not complete. Under those circumstances though there should be no entry rather than a partial entry with no folder or source name.

[2018-10-12 21:50] Captainkirkdawson commented on #1619
The change made should reduce  the possibility of problems with source document creation but 100% certainty cannot be guaranteed. I suggest we deploy the change and monitor

[2018-10-13 16:41] Captainkirkdawson opened #1625 "[production][sources#show] AbstractController::DoubleRenderError: Render and/or redirect were called multiple times in this ..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5b7b0799e937902e909e7a82)

[2018-10-14 07:56] edickens commented on #1498
All the batches now have a description, but it differs from the original (cf above)...
![capture](https://user-images.githubusercontent.com/8876165/46913885-c8bd7d00-cf8d-11e8-8ac5-4fb265d01c1c.JPG)
But would it be better to just put PR, OT, TR or whatever rather than converting to a description?  This is a Members report so they know what it means.  It would also help to know how the batch has be

[2018-10-14 08:06] Sherlock21 commented on #1498
I agree with Eric D about the use of code letter for Reg Type

and also wonder why a couple of file names now have a different Reg Type in the 2 days between the postings?

[2018-10-14 08:43] edickens commented on #1498
@Sherlock21 it could be because my first example was from production and the latest is from Test3.  Different databases.

[2018-10-14 14:08] Captainkirkdawson commented on #1498
As Ericd noted the 2 reports are from different databases. The first was production the second was development.
There is no difference between an OT and a TR. We can change the display to say Other Transcript.
We try wherever possible to display external translation rather than internal codes.

[2018-10-14 15:44] edickens commented on #1498
WRT your last paragraph.  If that is the standard, fine.  But there are places in the code where OT and TR are not treated the same.  I would also like to see these transcriptions standardised so we need to know which has been coded OT and which TR.

[2018-10-14 16:01] Captainkirkdawson commented on #1498
I am sorry to have to disagree but there is no difference between how OT and TR codes are processed. They are one and the same.
There are no files with an OT code. They are all Transcripts (or Other Transcripts if you wish the display to use that terminology and be consistent with the documentation)

[2018-10-14 17:47] edickens commented on #1498
TY Kirk.  Done.  E

[2018-10-14 17:52] Captainkirkdawson commented on #1605
Have added code such that the error message on a crash contain the key words FREEREG:CSV_PROCESSOR_FAILURE:
Added crash message to user message file and to update file and continue processing with next record and "hopefully" finish file and delete from waiting to be processed list.

[2018-10-14 18:17] Captainkirkdawson commented on #1605
Documentation has been updated.
https://docs.google.com/document/d/1tS88di-Q0dQTlUcNCbY7rEd3EC0ig2P0oxckXzUql-Y/edit

[2018-10-14 22:41] Captainkirkdawson commented on #1369
Have changed the url, perhaps @AlOneill can check to see if the change works

[2018-10-14 23:11] Captainkirkdawson commented on #1516
Fix developed to trap nil recipients and return with message. Deployed to test3

[2018-10-15 10:41] Sherlock21 commented on #1605
Thank You

On 14 Oct 2018, at 18:52, Kirk Dawson <notifications@github.com> wrote:

Have added code such that the error message on a crash contain the key words FREEREG:CSV_PROCESSOR_FAILURE:
Added crash message to user message file and to update file and continue processing with next record and "hopefully" finish file and delete from waiting to be processed list.

—
You are receiving this because

[2018-10-15 12:43] AlOneill commented on #1369
@Captainkirkdawson Not working if javascript disabled on test3 or live.

[2018-10-15 16:18] Captainkirkdawson commented on #1369
It is important to remember that without javascript there is no ability to search by place; solely by county. Suspect there are similar limitations within FreeCEN without javascript.

[2018-10-15 17:02] Captainkirkdawson commented on #1369
@AlOneill please try again on test3

[2018-10-15 19:39] AlOneill commented on #1369
@Captainkirkdawson Now working on test3 — i.e. without javascript*, CSS fallback is finding associated images.

* Turning off javascript is the only way I can think of to force Firefox to use the fallback CSS: I do not have a browser that does not understand data.png

[2018-10-15 19:46] Captainkirkdawson commented on #1369
TY

[2018-10-15 19:48] Captainkirkdawson commented on #1514
Put in trap to avoid using a deleted search record or its associated entry to look up coordinator

[2018-10-15 19:49] Captainkirkdawson commented on #1526
This is feature request will do bug fixes first

[2018-10-15 19:52] Captainkirkdawson commented on #1525
@SteveBiggs please clarify if that is via the contracts coordinator email address or by a person with that as a secondary role

[2018-10-15 20:51] SteveBiggs commented on #1525
Via the contracts coordinator email address please.

[2018-10-15 21:22] Captainkirkdawson commented on #1517
This has been resolved

[2018-10-15 21:22] #1517 closed

[2018-10-16 14:13] Captainkirkdawson commented on #1621
Document updated

[2018-10-16 14:17] Captainkirkdawson opened #1626 "18 a1.[contacts#report_error] Mongoid::Errors::DocumentNotFound: message: Document(s) not found for class SearchRecord with ..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bc05e27e937907d0c5edc64)

Use priority of 1380

[2018-10-16 14:26] Captainkirkdawson opened #1627 "18 Conduct thorough test of message, contacts and feedback systems including the ability to reply"
There is a need to ensure that all breadcrumbs, actions and reports are correct in light of the addition of the reply to system

Use priority of 1380

depends on #1380

[2018-10-16 14:47] edickens commented on #1627
I have just done a reply to the message "Feedback" system.  It worked, but I don't know who has looked at it.  There is just my email address in the header.  From me to me.  And the subject line is not in the reply.

![capture](https://user-images.githubusercontent.com/8876165/47024824-5f3e9980-d15a-11e8-8b11-4837dabefe70.JPG)

[2018-10-16 14:57] Captainkirkdawson commented on #1627
I would prefer to see this story focus on conducting systematic tests of all aspects of the systems to make sure that all components works together as expected. Any issues uncovered are to be written as separate stories.

[2018-10-16 14:59] Captainkirkdawson commented on #1627
@edickens It would appear that your test worked as expected and sesigned.

[2018-10-16 15:34] SteveBiggs commented on #1627
I received a copy of your reply @edickens

[2018-10-16 16:03] Sherlock21 commented on #1627
i only received a copy of Post 2 above, and that came by ordinary email form eric D.
Nothing via FR messages on my FR home page.

[2018-10-17 08:18] SteveBiggs commented on #1627
I think all the issues under #1380 need to be addressed before we spend further time testing the message system.

[2018-10-17 13:45] edickens commented on #1613
Should the email also be sent to the CC, and not as a bcc, so that the SC knows who to contact.

[2018-10-17 14:08] Captainkirkdawson commented on #1627
Agreed; am currently working on those associated with #1380. Many are in the review status

[2018-10-18 15:56] Captainkirkdawson opened #1628 "Modify contact show to display response"
required by #1380

Use priority of 1380

[2018-10-18 15:58] Captainkirkdawson opened #1629 "Modify feedback show to display responses"
Use priority of 1380

needs #1380

[2018-10-18 19:29] Captainkirkdawson commented on #1607
Dave Newbury was the original REGManager for FR. He died some years ago and was replaced by EricD. Dave Newbury uploaded files for many many people in the early days of FR.
His original usrid was davejo
EricD tried to "clean up" the davejo folder by creating a number of davejoXXX ids with new email addresses that forwarded to him
Do under understand the issue as written nor the comment by Pat

[2018-10-21 15:08] #1426 closed

[2018-10-21 15:08] #1475 closed

[2018-10-21 19:28] Captainkirkdawson opened #1630 "14 P Check message attachment types"
Check the file types and image types on message attachments to avoid crashes on message display. We currently have a list of supported types but no not appear to validate them on a message creation.

[2018-10-22 14:30] smrr723 commented on #1147
Test comment.

[2018-10-23 01:00] Captainkirkdawson commented on #1526
Deployed to test3

[2018-10-23 02:50] Captainkirkdawson commented on #1380
All requirements are currently addressed in test3

[2018-10-23 16:06] SteveBiggs commented on #1525
Commscoord received copies of messages and replies. Wording looks good.

[2018-10-23 16:09] SteveBiggs commented on #1526
Used Archive button on a Contact and it disappeared from the list as expected. Where is it archived and how can a CC retrieve it?

[2018-10-23 16:12] SteveBiggs commented on #1628
Reply and Replies button present and working.

[2018-10-23 16:30] Captainkirkdawson commented on #1380
I suspect there may be a weakness in the implementation with respect to what the various roles can see and can do

[2018-10-23 16:51] SteveBiggs commented on #1526
Checking out SA access to archived contacts, when you change the "List by" selection, the 'List Archived' button changes to 'List Active' when it is showing active already.

[2018-10-23 16:53] SteveBiggs commented on #1526
Cannot see any way for CC to access their archived messages. I think the CC should be able to.

[2018-10-23 17:05] Captainkirkdawson commented on #1526
Are you sure about last but 1 comment?
![active](https://user-images.githubusercontent.com/2874694/47377788-7548de80-d6b3-11e8-9d44-01313c65410d.JPG)
![archived](https://user-images.githubusercontent.com/2874694/47377800-7a0d9280-d6b3-11e8-84db-502f58a82bea.JPG)

[2018-10-23 18:08] benwbrum commented on #1143
Testing the search engine landing pages on test2 has revealed the following to problems (now that the cursor timeout problem has been resolved):

* Performance is very slow, which is a big problem for search engine crawlers: they only have a limited amount of time that they spend indexing each site, so the slower their crawlers run, the less of our landing pages they crawl.  TODO: review queries;

[2018-10-23 19:14] Captainkirkdawson commented on #1526
OK back to drawing board

[2018-10-24 14:38] benwbrum commented on #1511
Assessing this so far, it looks like the base functionality works as expected:

![freereg_ucf_base](https://user-images.githubusercontent.com/199961/47438650-80157900-d770-11e8-8bd2-2bedf0522596.png)

The next step is to address rebuilds after online editing in the referenced issues.

[2018-10-24 14:51] Captainkirkdawson commented on #1511
Basic functionality is not disputed.
However it was never turned on (implemented) because of the of the need to address the impacts of on line editing/deleting.

[2018-10-24 15:03] benwbrum commented on #1511
That's what I'm working on; it's been so long since I touched this code that I needed to establish where it was working (or not) already.

[2018-10-24 15:43] richpomfret commented on #1435
On TEST2.

[2018-10-24 15:49] richpomfret commented on #1570
To be deployed.

[2018-10-24 15:54] richpomfret commented on #1498
To be deployed.

[2018-10-24 15:59] richpomfret commented on #1369
Ready for deplpyment

[2018-10-24 16:02] richpomfret commented on #1605
Ready for deplpoyment

[2018-10-24 16:04] richpomfret commented on #1621
@smrr723 please review

[2018-10-24 16:04] #1621 closed

[2018-10-24 16:11] richpomfret commented on #1628
To be deployed ONLY when 1380 is complete.

[2018-10-24 16:12] richpomfret commented on #1514
To be deployed with 1380.

[2018-10-24 16:13] richpomfret commented on #1525
Deployed once 1380 is good to go.

[2018-10-24 16:22] #1604 closed

[2018-10-24 22:55] Captainkirkdawson commented on #1526
@SteveBiggs Have added the capabilities for all contact types to see their archived contacts. Its on test3

[2018-10-24 23:21] Captainkirkdawson commented on #1526
One thing for you to think about is the default order of the display. Currently it is  contact_time  ASC ie oldest is displayed first. The display by date and identifier also use that order. It might be better to have the default as the most recent and let the other 2 remain as is.
There is an argument to drop the by identifier as it and the by date are the same order

[2018-10-25 15:05] Captainkirkdawson opened #1631 "[production][image_server_images#destroy] NameError: uninitialized constant SourceProperty::Status"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bd1baf8e93790ed735fc5ca)

[2018-10-26 15:36] SteveBiggs commented on #1526
The default order looks like it is newest first in Feedbacks and oldest first in Contacts - I think we want newest first in both.

List by Name is alphabetic (a-z) - good
List by Posted Date is oldest to newest - should it be newest first?
List by Identifier looks wrong (not same as date):
![image](https://user-images.githubusercontent.com/25303607/47576525-996b2080-d93c-11e8-845d-446ce16b33cf.png

[2018-10-26 16:14] Captainkirkdawson commented on #1526
Thank you @SteveBiggs
I have yet to push the revised feedback code that makes it function in the same way as contacts with archiving and replies. So testing should be restricted to contacts
I will adjust the contact default to be by most recent first. I suggest the by date should allow the oldest first.
I believe the contact by identifier works correctly. Please confirm.
Personally I see no real v

[2018-10-26 19:34] SteveBiggs commented on #1526
If List by Date is to be by oldest then it should say "List by Earliest Date". How do we get back to the default of by most recent date (other than backing out of Contacts and going in again)?

List by Posted Date of Contacts gives this:
![image](https://user-images.githubusercontent.com/25303607/47588386-f2977c00-d95d-11e8-8718-66e381908b9c.png)
List by Identifier gives this:
![image](https://use

[2018-10-28 18:19] Captainkirkdawson commented on #1526
@SteveBiggs
Feedback and contact management system update in now on test3 for final check out.
I submitted a Data Problems Contact and a subsequent Feedback on a real problem
We need to test these thoroughly on test3

[2018-10-28 20:45] Captainkirkdawson commented on #1625
Fix agreed and deployed onto test3 and pull request initiated

[2018-10-28 20:47] Captainkirkdawson commented on #1629
Code changes written and pushed into test3 for testing

[2018-10-28 23:28] Captainkirkdawson commented on #1482
Picking up on the assumption that the FAQs have been done @DeniseColbert

[2018-10-29 16:45] SteveBiggs commented on #1526
Replied to Contact Reference 120097220 and got the red error:
![image](https://user-images.githubusercontent.com/25303607/47665761-c36d4e80-db99-11e8-83ea-61e23a49b519.png)

Tried replying to another contact with same result.

[2018-10-29 16:49] SteveBiggs commented on #1526
List by Identifier is still not correct:
![image](https://user-images.githubusercontent.com/25303607/47665990-6920bd80-db9a-11e8-9f27-202ba2bf68d8.png)
Appears to be sorting by the first digit rather than the entire number?

[2018-10-29 16:53] SteveBiggs commented on #1629
Feedback replies can be viewed from Show Feedback.

[2018-10-29 19:42] Captainkirkdawson commented on #1526
Red screen fixed

[2018-10-29 20:06] Captainkirkdawson commented on #1526
The identifier field is a string not a numeric.
If all field are of the same length (number of characters) then the string sort will be the same as an integer sort.
If the fields are NOT of the same length, as in this situation where one is shorter than the others by 1 character,  then the positions in the sorted list will differ between integer and strings since the sort does the comparison from

[2018-10-29 20:36] SteveBiggs commented on #1526
Reply now works.

I agree with removing List by Identifier.

[2018-10-29 21:20] Captainkirkdawson commented on #1147
What puzzles me is how a SC gets started with messaging their members. My display as an SC has no messages and no way of creating one

[2018-10-29 21:33] SteveBiggs opened #1633 "View My Active Feedbacks"
It would be useful to have a button that allows a member to view a list of Feedbacks they have submitted that are still active.

[2018-10-29 21:39] SteveBiggs commented on #1147
Perhaps you have to have a role of CC. Under Manage Syndicate I see this:
![image](https://user-images.githubusercontent.com/25303607/47682032-0f80b900-dbc3-11e8-95de-fdcdca3d89e2.png)

[2018-10-29 21:44] Captainkirkdawson commented on #1147
No I am using an SC userid and yes I see those 2 actions but my message to syndicate gives a display with no header actions
![sc.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ecbbfc82b317f7d9ad93dc/125516c66e82c728ace21e0d46fb97d86fc093bb80e3ba40b01faad67c1522702801fa7224ddb37fbd172b535f5f4faf14585c12eee59b69f7e8682fd70541b8937f5566c7341badbd861fb705b324834f85b4b49801.

[2018-10-29 21:51] SteveBiggs commented on #1147
Oh yes, I see the same thing in test3, but in production I see this:
![image](https://user-images.githubusercontent.com/25303607/47682571-bf0a5b00-dbc4-11e8-95bf-88cfc42123a4.png)

[2018-10-29 23:21] Captainkirkdawson commented on #1380
running in test3

[2018-10-31 11:25] DeniseColbert commented on #1482
AFAIK Alison is still working on the styling of the FAQ pages.

[2018-10-31 14:54] Captainkirkdawson opened #1634 "[production][manage_counties#manage_sources] NoMethodError: undefined method `empty?' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bd9befce93790575ecb757d)
A lovely case for why blank? is so much more useful than empty?
Priority 0 3 8 2      13

[2018-10-31 15:24] #1631 closed

[2018-11-03 12:50] Sherlock21 opened #1646 "Effect of changing one's Syndicate and doing a Reload of old file causes Errors in file"
This Action was prompted by a discovery by Jackie (SOM) .

I have done a test in T3 to demonstrate the issue.

using my UID and file name ericb.NFKREEBA2.csv  the original file shows my OLD Syndicate of NFK.
My actually current Syndicate is WRY - having been changed some years ago.
I did a name change in my old file on my PC ( in Row 1, name change from William to Willm:) and did a standard RL.

T

[2018-11-03 12:51] Sherlock21 commented on #1646
here is the screen print from the reprocess file ( first few rows  only)
![eb testsyndicate field in batch](https://user-images.githubusercontent.com/9368704/47952441-39d9ca00-df67-11e8-932f-e1317d681ddc.jpg)

[2018-11-03 12:56] Sherlock21 commented on #1646
I was then intending to  change the shown Syndicate in the file header of the file I was to reload again, to see the effect of that action, but in view result described above, this will be held off

[2018-11-03 15:10] Sherlock21 commented on #1646
Above next test done.  Test file now shows the Transciber syndicate is Yorkshire West Riding ( nearly but not exactly same as in my current profile) So the Default Program should see this as not matching my profile and not use the one from the input File, but use Profile Syndicate.)

File contains a change to row 3: the persons name changed from Stephen to Steve: & file uploaded as a RL
Program ra

[2018-11-03 15:57] SteveBiggs commented on #1611
Email from Eric Booker:
At your next Exec meeting, could you please get some action on this above issue. despite Pat closing it off, it is not included elsewhere so far as I can see, and the problem certainly does continue still.

[2018-11-05 14:48] Captainkirkdawson opened #1647 "[production][freereg1_csv_files#destroy] NoMethodError: undefined method `file_and_entries_delete' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5af6a35de93790b24fdc7125)
The user see this as #1136

[2018-11-05 15:02] Captainkirkdawson commented on #1634
User saw this as  #1137

[2018-11-05 16:21] richpomfret commented on #1647
Duplicate of 1582 - closing.

[2018-11-05 16:21] #1647 closed

[2018-11-06 15:02] Captainkirkdawson opened #1650 "[production][freereg1_csv_files#update] Mongo::Error::OperationFailure: After applying the update to the document {chapman_code: "Staffor..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5be13febe937908a475c57ad)

E0 U2 S1 C7:P10

[2018-11-07 16:44] richpomfret commented on #1442
In answer to the second Q above - Separate link for flexible csv (until we have it supported by WinREG).

[2018-11-07 17:17] richpomfret commented on #1519
@DeniseColbert to give Scott access.

[2018-11-08 22:44] #1634 closed

[2018-11-08 22:45] #1526 closed

[2018-11-08 22:45] #1629 closed

[2018-11-08 22:45] #1625 closed

[2018-11-08 22:45] #791 closed

[2018-11-08 22:45] #1516 closed

[2018-11-08 22:45] #1525 closed

[2018-11-08 22:45] #1514 closed

[2018-11-08 22:45] #1619 closed

[2018-11-08 22:45] #1628 closed

[2018-11-08 22:46] #1605 closed

[2018-11-08 22:46] #1369 closed

[2018-11-08 22:46] #1498 closed

[2018-11-08 22:46] #1570 closed

[2018-11-09 09:40] PatReynolds opened #1935 "Produce Report of Existing but Not With Us registers"
Use data on images system to produce listing of registers which we know exist (i.e. not those known to have been destroyed), and (where known)  their repository.

Something simiilar existed for FreeREG1 (see @edickens email to me Tue, 26 Nov 2019, 15:34). Could be used as a basis for new work, "using Kirk's CSV of all the batches".

Needs #63
Needs #65

[2018-11-09 09:41] PatReynolds opened #1936 "24PCompare 'registers wanted' to listing of registers photographed by LDS"
Needs #52

Listing of LDS images: http://www.archersoftware.co.uk/igi/fs-entry.htm?C059922

[2018-11-09 09:42] PatReynolds opened #1937 "P24 Ask Register Offices for permission for LDS to share"
Needs #53

[2018-11-09 09:45] PatReynolds opened #1938 "P24 Photograph sources without accessible images"
Needs #53

[2018-11-09 15:41] Captainkirkdawson opened #1652 "[production][feedbacks#userid_feedbacks] NoMethodError: undefined method `reply_feedbacks_path' for #<#<Class:0x0000000820288458>:0x000000..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5be5a431e93790807e42f2fc)

[2018-11-09 17:45] Captainkirkdawson commented on #1652
Typo in path call. Deployed to test3

[2018-11-11 14:46] Captainkirkdawson opened #1655 "[production][image_server_groups#my_list_by_county] NoMethodError: private method `select' called for #<Source:0x000000081fab8278>"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5be74565e937907298d68133)

[2018-11-11 19:55] bev-fc commented on #1655
![20181111_003](https://user-images.githubusercontent.com/22349799/48317522-8e152780-e5c1-11e8-9671-a26bfdd103ef.jpg)
errbit link does not exist

[2018-11-12 01:19] Captainkirkdawson commented on #1655
@bev-fc  Please try again

[2018-11-12 16:27] PatReynolds opened #1931 "21 Document current status of GAP"
Review original requirements against current functionality.

E2 U6 S8 C7:P23

[2018-11-12 17:14] PatReynolds commented on #1296
No development activity, @Captainkirkdawson just management.

[2018-11-13 20:28] #1652 closed

[2018-11-16 08:53] PatReynolds commented on #1152
This has not been done - timestamping of agreement not yet in place.

[2018-11-16 09:37] Sherlock21 commented on #1575
With respect, this is NOT working correctly.

I discovered earlier this week that editing a Date Error in a Baptism file ONLINE, does NOT get rid go the ZERO on the date field of from-to dates hat appears in front of the file name in the ; 'Files for a church' page.
I:t does get rid of the RED flag for date errors, in ones list of Batches.

I just created a test file  eric.DEVTESTBA2.csv in T3.

i

[2018-11-16 09:37] Sherlock21 commented on #1575
With respect, this is NOT working correctly.

I discovered earlier this week that editing a Date Error in a Baptism file ONLINE, does NOT get rid go the ZERO on the date field of from-to dates hat appears in front of the file name in the ; 'Files for a church' page.
I:t does get rid of the RED flag for date errors, in ones list of Batches.

I just created a test file  eric.DEVTESTBA2.csv in T3.

i

[2018-11-16 09:39] Sherlock21 commented on #1575
here are related screen prints.
![screen shot 2018-11-16 at 09 18 13](https://user-images.githubusercontent.com/9368704/48613390-7bb13a00-e983-11e8-868f-deb83433eb50.png)
![screen shot 2018-11-16 at 09 17 37](https://user-images.githubusercontent.com/9368704/48613397-81a71b00-e983-11e8-96d4-c1ed64bfd6af.png)

[2018-11-16 10:09] SteveBiggs commented on #1575
This is a different issue covered by #1611

[2018-11-16 11:37] PatReynolds opened #1659 "(For Discussion) Create and About page"
Looking for a quick copy-and-paste text to put elsewhere, realise there is nothing on the FreeREG site which explains the project, aims and ambitions!

[2018-11-16 15:35] Captainkirkdawson commented on #1152
Story spe was "'Dated with date sigdownloaded' is a 'nice to have' but not essential.". The volunteer can download the agreement and the date of the download is included. Not sure how "timestamping of agreement not yet in place."  is not done, Does not appear as a requirement. Mind you I do not understand what is implied by "timestamping of agreement"

[2018-11-16 15:42] Captainkirkdawson commented on #1659
What is wrong with current page
About
The aim of FreeREG is to provide free Internet searches of baptism, marriage, and burial records, which have been extracted from parish registers, non-conformist records and other relevant sources in the UK.

The recording of baptisms, marriages and burials in parish registers began in England and Wales in 1538 and is separate and distinct from the civil regis

[2018-11-16 15:43] AlOneill commented on #1659
The first few paras on
https://www.freereg.org.uk/cms/about
offer some of what you are looking for.

@PatReynolds What would make this explanation better?

[2018-11-16 15:46] AlOneill commented on #1659
OK — the number-of-records-transcribed figure needs updating!

[2018-11-16 19:12] Sherlock21 opened #1660 "uploading a batch to Test3 crashes out"
I had previously  deleted a batch DEVTEST2.csv successfully, all at about 19:05 hrs GMT. Friday 16 Nov.
Then I tried twice to upload a new batch ericb.DEVTEST3.csv to Test 3.

It crashed out  on both attempts with the Red Oooops message.

[2018-11-16 22:34] Captainkirkdawson commented on #1660
It would help if you uploaded csv files and not ods files ie  DEVTEST3BA.csv and not DEVTEST3BA.ods same for DEVTEST2BA.csv and not DEVTEST2BA.ods

[2018-11-17 04:58] Captainkirkdawson commented on #1660
Of course we could introduce a test to tell people they were trying to load an incorrect file type. This is the first known occurrence in 3 years

[2018-11-17 07:43] Sherlock21 commented on #1660
Oh drat!!!!

trying to be too quick. i will do better in future.
No need for you to do anything.

CLOSE this now

[2018-11-17 14:42] #1660 closed

[2018-11-17 14:47] Sherlock21 opened #1661 "Online Edit of a date field generates zero as the start year of that batch"
This is a rewrite of the problem I wrote up earlier and which was closed (Cancelled) as it was said to have been included in another, related issues which also is now closed ( as in Completed) BUT the issue still exists.
My story is now written up here, with screen shots at each step, to try again to get the point over.

Please refer to Test 3 region,  where I have repeated the sequence again toda

[2018-11-17 15:08] Sherlock21 commented on #1661
clicked comment button in error

[2018-11-17 16:04] PatReynolds commented on #1659
Ah - sorry - the 'About' section dissappears when one is logged in!  I will close this and add a new story for revising the figure!

[2018-11-17 16:05] PatReynolds opened #1662 "Delete number-of-records-transcribed figure on About page"
Is this needed now the numbers are at the bottom of every page?

[2018-11-17 16:07] PatReynolds commented on #1152
'timestapming of agreement' is the same as 'adding a date to the agreement on the date it is downloaded'.  Still a 'nice to have' but not (yet done).

[2018-11-17 16:53] Captainkirkdawson commented on #1152
Ah; very different requirement. Requirement is that the date (time?)  the TA is accepted is recorded for the userid.

[2018-11-18 08:44] Sherlock21 commented on #1661
The other important player ( User) of this information is the Transcriber, looking up which places we have transcriptions for:-

Screeshot5
/Users/eric/Desktop/Screenshot5.jpg

And Screenshot6 - the details:
/Users/eric/Desktop/Screenshot6.jpg

[2018-11-18 09:20] PatReynolds commented on #1152
No, Kirk, that is a separate story.  But a good one.  This is just adding the date downloaded to the downloaded file.  Which is something we were asked for, and not essential.  It is probably worth asking the transcribers at the point where we get to considering this, whether or not it is still needed.

[2018-11-18 16:43] Sherlock21 commented on #1611
SO are you saying that everyone should NOT update dates in a record by using the Edit Online tool?

That leave users the only option of doing date changes of all kinds, in their file, and doing a reload does it not?
Or have I missed something?

[2018-11-18 16:50] Sherlock21 commented on #1599
But in view of the response to #1611  how are you intending to advise CC's to correct these zero dates?

[2018-11-19 15:24] Captainkirkdawson opened #1664 "[production][image_server_images#destroy] NoMethodError: undefined method `deletion_permitted?' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bf09eb7e9379056f8861c50)

[2018-11-19 15:38] #1380 closed

[2018-11-19 15:39] #1655 closed

[2018-11-19 16:10] PatReynolds commented on #1662
No not needed - can say 'it is on the footer'

[2018-11-19 16:15] richpomfret commented on #1661
We shall address this as part of a batch of zero date tasks e.g. 1581.

[2018-11-19 16:17] richpomfret commented on #1659
Shall close. No need for this.

[2018-11-19 16:17] #1659 closed

[2018-11-19 19:18] Captainkirkdawson commented on #1218
A  personalization of the subject has been added, as well as identification in the message. An encouragement to add a sign off has been added

[2018-11-19 21:14] Sherlock21 commented on #1661
May I ask that on this particular occasion, you include a once off batch job to deal with all the existing batches that exhibit this zero?

Subjectively, I feel there are very many such zero start date batches that have accumulated, and will never get fixed by their Transcribers of CC's.

[2018-11-20 09:01] Sherlock21 opened #1665 "Attempted to DESTROY a particular file but I got crashed out."
Attempting to use the Destroy a file option using my  DM profile.
file is steffy.STSWALBU2.csv -( note its lower case csv) as there may be others with upper case CSV.

I had to unlock the file first. - done OK.
Then located the particular file in Manage County STS/and Review Specific File to locate right file.
Then used the DESTROY Original etc... button and I immediately got crashed out.

Time wa

[2018-11-20 09:05] Sherlock21 commented on #1665
I raised a similar issue on 2 Nov via the onscreen Report a problem button, but that seems to have gone nowhere.

[2018-11-20 09:09] Sherlock21 commented on #1661
Do you mean you don't understand the request in the item just prior to your post?
OR do you mean  you don't get what the whole of this Issue is about?

[2018-11-20 11:13] Sherlock21 commented on #1665
IF its any help, I just tried to do DESTROY a file in Test3.
File owner: JanetOgden. file name WRYADEBU.csv size 168 records.

This was not locked to start with so no need to have to unlock it.

DESTROY worked exactly right.
SO whats the differences?
-file was locked in Prod.
- The Production file is > 5000 records but the DM profile opes with that.
- the production Place has not been changed abou

[2018-11-20 11:21] PatReynolds commented on #1152
As the original story needs attention on www.freeukgen.org.uk, not FreeREG or other sites, I have made a new story on the Coordination waffle board (#1009) to cover this.

However, the story that got confused with this one, the need for us to record the date on which a transcriber signed the agreement, is wanted.

[2018-11-20 17:07] AlOneill commented on #1442
@SteveBiggs Pages re-ordered in Refinery as per: Flexible CSV introductory page now at
https://test3.freereg.org.uk/cms/information-for-transcribers/flexible-csv-format-draft

NB: Some links will not work until I update them.

[2018-11-20 22:01] AlOneill commented on #1442
@SteveBiggs Links updated on all four pages — E&OE!

The only bar to moving this story to "Needs review" is the repeated failure of the download links: we need a solution.

[2018-11-20 23:46] Captainkirkdawson commented on #1147
Have deployed the new version to test3 for evaluation

[2018-11-20 23:46] Captainkirkdawson commented on #1218
Have deployed the new version to test3 for evaluation

[2018-11-21 05:31] Captainkirkdawson commented on #1440
Isn't this finished

[2018-11-21 08:57] edickens commented on #1440
Yes.  I think so.  There are 61 folders with images on the image server, and 43 counties on the list to choose from under Assignments.  The difference should be that these counties have had all their images transcribed, but it may be that they are not yet set as Unallocated.
My only comment is that the sequence is not in Chapman Code order:-
![capture](https://user-images.githubusercontent.com/887

[2018-11-21 10:37] PatReynolds opened #1934 "Create Registers for each missing register"
Include details of holding institution.
(Places:Registers)

[2018-11-21 10:48] DeniseColbert commented on #1578
E.g.

"Eric Dickens at FreeREG" <Eric's email address>
"Denise Colbert, Free UK Genealogy" <denise.colbert@freeukgenealogy.org.uk>

[2018-11-21 10:54] DeniseColbert commented on #1506
The training process should be triggered once new transcribers are set up in the members' area. Automated as much as possible.

I need to gather the existing resources Jo uses, and possibly have two training modules; one for people who are new to transcribing, and one for people who have transcribed before, but are new to uploading to FreeREG?

[2018-11-21 11:31] PatReynolds commented on #1442
@smrr723 @Captainkirkdawson any idea why the download links are failing?  If no idea / not fixable, I suggest they are uploaded to the F U G website.

[2018-11-21 12:09] edickens commented on #1506
Yes please.  Great idea.

[2018-11-21 12:23] smrr723 commented on #1442
Searching for "The SHA parameter you gave is incorrect" shows it's a known issue, but I don't see any single, simple solution.

@Captainkirkdawson https://github.com/markevans/dragonfly/issues/387#issuecomment-142123474 seems to be the clearest solution I've found but from what I can see in our Gemfile, we should have the highest working version of the `json` gem anyway.

[2018-11-21 15:10] Captainkirkdawson commented on #1578
In what way is this story different from #1218 above and does what has been done for that story meet the requirement

[2018-11-21 15:16] edickens commented on #1578
Sorry.  Yes, the sender name is fine.  I was looking to see if other things have been done and should have commented under the other story.

[2018-11-21 15:22] Captainkirkdawson commented on #1442
@smrr723 As you likely have perhaps perceived I have not the foggiest idea of how to keep the SHA from changing. My solution would be to eliminate it totally and put a straight link to the file and ignore any complaints from dragonfly

[2018-11-21 15:39] DeniseColbert commented on #1578
Got you test Kirk, still firstname.lastname
![image](https://user-images.githubusercontent.com/19173257/48851727-acd6a380-eda3-11e8-9a2b-06d2f179ba3b.png)

[2018-11-21 15:50] Captainkirkdawson commented on #1578
But what is wrong with that?
The message has has the email address in the from field and if you had done a reply I would have received it.
Also you will note that if you log into test3 you will see the message there waiting for you. You can also reply from there

[2018-11-21 16:16] edickens commented on #1578
I don't think the last message got into my Test3 log in.  All I have is this:-
![capture](https://user-images.githubusercontent.com/8876165/48853900-6e8fb300-eda8-11e8-9e30-154cba274799.JPG)
The problem with "reply all" is that you do get a message, but I don't think the freereg-contact reply gets tagged to the message.

[2018-11-21 17:04] richpomfret commented on #1433
@PatReynolds to review.

[2018-11-21 17:46] SteveBiggs commented on #1599
That requires resolution of #1581 first.

[2018-11-21 18:05] SteveBiggs commented on #1578
I see I've been assigned this, but it's not clear to me what I should be testing for? Please clarify.

[2018-11-22 13:58] DeniseColbert commented on #1578
I think testing = review of the work done so far

[2018-11-22 17:10] Captainkirkdawson commented on #1442
SHA gets changed by a server restart. Testing a solution

[2018-11-22 17:38] Captainkirkdawson commented on #1442
@AlOneill  Problem has been fixed by adding a dragonfly secret code to resources. Have sanitized the initialization to use a mongo_config constant rather than hard code. SHA survives a server restart now.

[2018-11-22 21:59] lemon-ukgen commented on #1371
So... am I doing this? I was looking for [confirmation](https://github.com/FreeUKGen/MyopicVicar/issues/1371#issuecomment-411262772) but none has been forthcoming :)

[2018-11-22 22:01] lemon-ukgen commented on #1216
Is this still on the cards @Captainkirkdawson ? Even if it's not, we should schedule the FreeBSD upgrade on the MongoDB servers soon.

[2018-11-22 22:34] Captainkirkdawson commented on #1216
Absolutely.
We need to step through 3.4, 3.6 to 4.0. The db must be moved through each it cannot go from 3.2 to 4.0 in one step. So that is going to be a real pain.  Will it be possible to get those 3 versions installed so that we can step the app carefully through each.

I also need to update the FR app. That is story #1386. We were hoping to restart that one in the next sprint after this one. It

[2018-11-22 22:36] Captainkirkdawson commented on #1371
@PatReynolds @richpomfret  can you respond please

[2018-11-23 10:40] SteveBiggs commented on #1442
Can we deploy the help info to production now?

[2018-11-23 10:44] SteveBiggs commented on #1578
Against what test criteria? Just to check that the sender's name is in the from field or something more?

[2018-11-23 15:22] Captainkirkdawson opened #1676 "Upgrade mongo servers to FreeBSD 11.2"
We need to keep our servers up to date.

[2018-11-23 23:56] Captainkirkdawson opened #1677 "19 UCF year to not create a nil or zero year"
Currently a year that has a UCF creates a nil year. This translate into a zero
depends on #1581

E0 U6 S7 C6: P19

[2018-11-24 03:50] Captainkirkdawson commented on #1676
There are 20 actual instances. They are:

mongo1
  sudo -u mongodb mongod32 --config /usr/local/etc/mongodb-sharded.conf
 	# runs on port 27018 and replSetName: shard1
  sudo -u mongodb mongod32 --config /usr/local/etc/mongodb-arbiter_for_shard3.conf
	# runs on port 27020
  sudo -u mongodb mongos32 --config /usr/local/etc/mongodb-mongos.conf
	# runs on port 27017
  sudo -u mongodb mongod32 --confi

[2018-11-24 12:35] SteveBiggs commented on #1677
Do you mean depends on #1581 ?

[2018-11-24 14:49] Captainkirkdawson commented on #1677
TY

[2018-11-25 17:10] Captainkirkdawson opened #1678 "[production][freereg1_csv_files#update] Mongo::Error::OperationFailure: After applying the update to the document {chapman_code: "Staffor..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5bf97d17e937901ac2f8bc12)

[2018-11-25 17:39] Captainkirkdawson commented on #1611
This is the same issue as #1661. The code fix for that issue has been developed. It is deployed to test3 for review

[2018-11-26 01:41] Captainkirkdawson opened #1679 "Accept zero date for a record"
@SteveBiggs @edickens  Do you wish to have the ability for a user/coordinator to "accept" that an entry has no dates and to exclude it from the date min/max and range calculations? This would mean that it would no longer cause a zero minimum. It is anticipated that this would be a new option on an entry edit.
needs #1581

[2018-11-26 08:30] Sherlock21 commented on #1679
Is this such a big problem?
How many such records are there in FR at present please?

I can see some benefits form doing this, but would i be correct that it would result in those records only appearing in a search that had no date limits?
-and there are several types of search using the range-expanding features like: Soundex and Family Members to name 2 that come immediately to mind, where there

[2018-11-26 12:52] edickens commented on #1679
I think that every record should have a year, even if it is an assumed or approximate year based on the position in the register.  So there should be no option to allow a zero year.
Does flexible CSV have the means to enter an assumed year?  Is this used in the search?
My reasoning is that the year is very useful to find the entry in the register and in the batch listing, which could be sorted int

[2018-11-26 16:02] Sherlock21 commented on #1679
My reason for asking him many such records re there was:
if only few dozen then I would vote don't waste time and don't provide for them.

if a thousand or more, the go the way Eric D suggests above. Estimate a date ( year only)  from the position in the source document that is next to the record with no date - as discussed at length in the original design stages by the Review Group.  so then the

[2018-11-26 16:08] Captainkirkdawson commented on #1679
UCF in a date has always been accepted; there are hundreds of * dates.
If zero years are not an issue why have people been pushing so hard for them to be fixed?

[2018-11-26 16:18] edickens commented on #1679
Because the listing of batches in a Register Type does not show the year range, so you do not know what has been transcribed.
e.g. What years does the first MA batch cover.
![capture](https://user-images.githubusercontent.com/8876165/49026895-e5f18800-f196-11e8-908d-72db2d5cb86c.JPG)

[2018-11-26 16:23] Captainkirkdawson commented on #1679
@edickens do not understand the point of your last post

[2018-11-26 17:17] Captainkirkdawson commented on #1581
@Sherlock21 Clean up of code has been done. Deployed to test3 for checking

[2018-11-26 18:06] edickens commented on #1679
If you look at the left hand batch of MAs, the years covered are 0-1930.  But the second is 1903-1908.  So are these duplicated in the 0-1930?  We need to know the range of years covered in the first batch.

[2018-11-26 18:17] Captainkirkdawson commented on #1679
I fully understand and appreciate that.
That is why I was proposing to remove UCF dates AND ACCEPTED zero dates, as suggested in this story. Otherwise legitimate zero date entries and UCF dates will always give a zero start year and you will never know.

[2018-11-26 18:31] Sherlock21 commented on #1679
The big issue is that in some cases where a record has been edited online, a good, sound real year changes to a 0 ( i.e. a Zero) and thats the reason why people are pushing hard to get the problem that generates this issue, fixed.

I am not really against UCF's in years so long as they don't mess up the real years and the facts as Eric D points out above.

[2018-11-26 18:31] Sherlock21 commented on #1679
The big issue is that in some cases where a record has been edited online, a good, sound real year changes to a 0 ( i.e. a Zero) and thats the reason why people are pushing hard to get the problem that generates this issue, fixed.

I am not really against UCF's in years so long as they don't mess up the real years and the facts as Eric D points out above.

[2018-11-26 18:36] Captainkirkdawson commented on #1661
Fix to the issue off on line editing sometimes apparently causing a zero date has been developed and deployed to test3 for testing

[2018-11-26 19:02] edickens commented on #1679
I'm not against UCF in the date, but not in the year part of the date.  And definitely not a * year.  An entry such as 165_ would be quite useful, but better to be more accurate.  The Day and Month are not important.
But this is a variation to UCF and does not show what is unreadable.
Is there a generate year only field used for Searching?  If so, could we put something in there if the year in the

[2018-11-26 19:09] Sherlock21 commented on #1661
I will get on to begint testing it this evening.

[2018-11-26 20:36] SteveBiggs commented on #1679
I agree with EricD. The year must be searchable. 165_ is OK because it would come up in a search between 1650 and 1659, but a simple * would only show up in a search without start and end years.

[2018-11-26 21:12] Captainkirkdawson commented on #1679
3 things.
1. You cannot cherry pick parts of the UCF that you like/do not like
2. How the search deals with UCF is not part of this story.
3. This story does not deal with UCF.

To repeat the story

Do you wish to have the ability for a user/coordinator to "accept" that an entry has no dates and to exclude it from the date min/max and range calculations? This would mean that it would no longer cau

[2018-11-26 22:05] Captainkirkdawson commented on #1599
Have added a list files with zero years for a)transcriber b) syndicate and County coordinators
Deployed to test3 for evaluation

[2018-11-26 22:11] edickens commented on #1679
No - Eric D

[2018-11-26 22:45] SteveBiggs commented on #1679
How the search works may not be part of this story, Kirk, but it is important in deciding the answer to your question. If we allow entries with no date to exist in the database, those entries will not be returned by a date bound search. I think it important that we ensure every entry has at least a year.

So my answer is No.

I would not complain about the appearance of zero as a date if it only a

[2018-11-26 22:54] Captainkirkdawson commented on #1679
TY for the clear answer

[2018-11-26 22:54] #1679 closed

[2018-11-27 08:59] Sherlock21 commented on #1679
I agree with Steve's summary and conclusion, in 2 items above this post of mine.

[2018-11-27 09:08] suffolkroots commented on #1599
Thanks Kirk.
Really useful.

[2018-11-27 09:15] Sherlock21 commented on #1599
Yes, a most useful way for the CC to find and fix these records. TY.

[2018-11-27 09:42] suffolkroots commented on #1679
Re UCF----Steve said that a UCF of 165_ will bring dates from 1650 and 1659, but how useful is that in a city register where there may be squillions of entries between those dates?

There should always be a date, whether actual or estimated.

[2018-11-27 12:31] Sherlock21 commented on #1679
After a lengthy debate in the early days, I though it had been agreed all round, that the policy on incomplete dates should be: if the year is not present, with 4 useful digits, then the transcriber should use the year of the last satisfactory record prior to the one concerned, and just enter the date as * yyyy  with a commenting notes to say what you have done. and put the part readable date in t

[2018-11-27 13:18] edickens commented on #1679
The other alternative format is yyyy?

[2018-11-27 14:40] SteveBiggs commented on #1599
Works as expected. Please deploy to production.

[2018-11-27 14:54] Captainkirkdawson commented on #1679
This story as a development activity is closed. All the last comments comment on practice and documentation.

[2018-11-27 15:04] Captainkirkdawson commented on #1599
Cannot be  deployed on its own. Depends on #1581

[2018-11-27 15:39] Captainkirkdawson opened #1680 "[production][search_queries#create] RangeError: 1111111111111111111111915 is not a valid 8 byte integer value."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/562a65f7e93790333a00002f/problems/5bfd5690e9379052eb7ad342)

[2018-11-27 19:37] Sherlock21 commented on #1581
Used one of my DEV files ( from MY Batches listing which showed a 0 year)- to check if editing the zero date online functions correctly: -YES OK.

Noticed the new feature: listing ALL Zero Year records for the County.
Tried this out and picked one record at random - bright.DEVNTABU.csv
it actually contained 2 records with no YEAR - edited them online OK
It also contained one other error - a few wi

[2018-11-27 19:37] Sherlock21 commented on #1581
Used one of my DEV files ( from MY Batches listing which showed a 0 year)- to check if editing the zero date online functions correctly: -YES OK.

Noticed the new feature: listing ALL Zero Year records for the County.
Tried this out and picked one record at random - bright.DEVNTABU.csv
it actually contained 2 records with no YEAR - edited them online OK
It also contained one other error - a few wi

[2018-11-27 19:37] Sherlock21 commented on #1581
Used one of my DEV files ( from MY Batches listing which showed a 0 year)- to check if editing the zero date online functions correctly: -YES OK.

Noticed the new feature: listing ALL Zero Year records for the County.
Tried this out and picked one record at random - bright.DEVNTABU.csv
it actually contained 2 records with no YEAR - edited them online OK
It also contained one other error - a few wi

[2018-11-27 19:37] Sherlock21 commented on #1581
Used one of my DEV files ( from MY Batches listing which showed a 0 year)- to check if editing the zero date online functions correctly: -YES OK.

Noticed the new feature: listing ALL Zero Year records for the County.
Tried this out and picked one record at random - bright.DEVNTABU.csv
it actually contained 2 records with no YEAR - edited them online OK
It also contained one other error - a few wi

[2018-11-27 22:52] #1585 closed

[2018-11-27 23:01] Captainkirkdawson commented on #1664
Fix applied and deployed into test3

[2018-11-27 23:06] #1584 closed

[2018-11-27 23:08] #1548 closed

[2018-11-27 23:28] #1523 closed, assigned to nobody

[2018-11-27 23:50] Captainkirkdawson commented on #1487
added and deployed to test3

[2018-11-27 23:51] Captainkirkdawson commented on #1543
Change made and deployed to test3

[2018-11-28 05:21] Captainkirkdawson commented on #1676
mongo3 and 4 have been updated

[2018-11-28 17:23] DeniseColbert opened #1685 "Changes to communications"
Agreed that we should direct the volunteer to the message they have received by including a link in the email.
"Please ensure you are logged in to FreeREG Members' Area before clicking this link".

Keep 'Archive' and set messages to be destroyed after expiry period (1 year?). Ability to tag messages as important (Kirk suggests add another field to state "this is not to be destroyed/retain in perpe

[2018-11-28 17:31] DeniseColbert commented on #1578
Kirk to add 'Friendly From' field

[2018-11-29 15:10] Captainkirkdawson commented on #1676
All 6 mongo dataase servers are now running the same OS as the app servers

[2018-11-30 17:04] edickens commented on #1685
Leave as is.  Especially if we going to get a link to take us direct to the relevant message.
It is useful to see what is going on.

[2018-11-30 17:12] SteveBiggs commented on #1685
Happy to leave as is.

[2018-11-30 17:33] PatReynolds commented on #1685
Yes, happy to leave as is.

[2018-12-02 00:12] Captainkirkdawson commented on #1685
Noting the responses and will leave the message selection as it currently is..

[2018-12-02 00:14] Captainkirkdawson commented on #1685
Unfortunately I cannot do a direct link to the message as the setup of the breadcrumbs is not established. The instructions are quite clear and simple.

[2018-12-02 05:08] Captainkirkdawson opened #1686 "Keep for contacts"
Keep 'Archive' and set messages to be destroyed after expiry period (1 year?).
depends on #1687

[2018-12-02 05:08] Captainkirkdawson opened #1687 "Keep for Feedbacks"
Keep 'Archive' and set messages to be destroyed after expiry period (1 year?).

[2018-12-02 05:09] Captainkirkdawson commented on #1685
Keep implemented for messages and deployed to test3

[2018-12-02 05:12] Captainkirkdawson opened #1688 "Rake task to delete message, feedbacks and contacts"

[2018-12-02 05:12] Captainkirkdawson opened #1689 "Rake task to delete message, feedbacks and contacts"

[2018-12-02 05:13] Captainkirkdawson opened #1690 "Rake task to delete message, feedbacks and contacts"

[2018-12-02 05:14] #1690 closed

[2018-12-02 05:14] #1689 closed

[2018-12-02 14:21] PatReynolds opened #1940 "Approach holders of Bishops Transcripts transcriptions"
See https://www.genguide.co.uk/source/bishop-transcripts-bts-parish/26/

E3 U3 S9 C6: P21

[2018-12-02 15:08] PatReynolds opened #1922 "21 Page on other sources of transcriptions"
Draft written.  Needs input from coords, and Kirk on best download format from internet archive.

P21

[2018-12-02 20:26] SteveBiggs opened #1691 "Witness being returned by search when Witnesses box not ticked"

[2018-12-02 20:31] SteveBiggs commented on #1691
Searching for Thomas Shorthouse as follows:
![image](https://user-images.githubusercontent.com/25303607/49344544-b9df7680-f670-11e8-967d-74914595ca08.png)
gives 18 results, but they are all with Thomas as a witness even though the Witnesses box is not ticked.

(If the Witnesses box is ticked, there are 200 results - he was obviously a professional witness!)

[2018-12-03 11:59] PatReynolds commented on #1355
I went back to the original specification and copied and pasted into the description.  See comment above about in-house (original vision).  Google groups seem fine as a forum alternative, so suggest this is considered as an epic (e.g. on creating new forums, documentation, etc.)

[2018-12-03 12:40] edickens commented on #1355
The problem with Google Groups is that you have to manually invite or add every new person who registers.  And then they can delete themselves.  So you do not have a mailing system that reaches every active transcriber.
The FreeREG Transcribers group is a closed group so that we don't get spam, and I invite everyone, but less than half take up the invitation.

[2018-12-03 14:42] PatReynolds commented on #1355
Hi Eric, this story is not about the mailing system that reaches every transcriber.  It is about discrete groups (such as the existing one for the development team).  People who don't want to be part of the group/team simply won't join, or will resign if they don't want to participate for any reason, or put the emails on hold if it is a temporary withdrawal (eg because they are away from home).

[2018-12-03 16:01] Captainkirkdawson opened #1692 "Add friendly email addresses to all emails sent by FreeREG"

[2018-12-03 16:36] richpomfret commented on #1607
@Sherlock21 can you clarify or provide any further info? @edickens suggests looking for the file elsewhere.

[2018-12-03 16:41] richpomfret commented on #808
Closing - not needed (we're making a browser-based version).

[2018-12-03 16:41] #808 closed

[2018-12-03 16:48] PatReynolds opened #1924 "Sources:"
Identify all possible sources of register information

[2018-12-03 16:59] PatReynolds opened #1693 "Resaercher can see images available for transcription, but not yet transcribed, with button to sign up to transcribe them"
Possibly also sign up to be alerted when they have been transcribed (registered researcher feature)

NB this may be a duplicate issue

[2018-12-03 22:12] Captainkirkdawson commented on #1579
Implemented as part of message system. Deployed to test3

[2018-12-03 22:14] #1176 closed

[2018-12-03 22:44] Captainkirkdawson commented on #1355
I see no point in developing forum software for FreeREG. There exist excellent forum capabilities through Google Groups.
We can create as many or as few as we wish. They met all of the requirements identified. If you really do NOT want to use Google Groups for some reason then it would be possible to host fora through other suppliers or as part FreeUKGEN. Should FreeUKGEN be migrated to WordPress

[2018-12-04 15:21] edickens commented on #1581
Have heard from EricB and Ali who  have checked this and they are happy for it to go production.

[2018-12-04 15:40] Sherlock21 commented on #1607
Well:

if you log on, with a profile that lets you do at least DM role, and follow step by step the instructions in the opening postings, you will so - as I did - that things don't tie up properly - and they should do should they not?

Its not a matter of finding a dodge round a snag - I can do that with no bother.

[2018-12-04 20:49] Captainkirkdawson opened #1694 "Multiple attachments"
For messages, contacts and feedbacks permit multiple attachments,

[2018-12-04 20:52] Captainkirkdawson commented on #1694
Current system is designed for a single image and/or file to be uploaded.
With the recent changes in communications it is desirable to have multiple upload support

[2018-12-05 04:51] Captainkirkdawson commented on #1355
@arswright-alt-uk may wish to comment

[2018-12-05 16:04] Captainkirkdawson opened #1695 "[production][search_records#show_citation] NoMethodError: undefined method `titleize' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5983c4fce937903cff000006/problems/5c06cb1ae9379095573f48a9)

It is essential to check that the field exists before applying a method

[2018-12-05 16:08] Captainkirkdawson commented on #1690
Was a duplicate

[2018-12-05 16:38] #1664 closed

[2018-12-05 16:38] #1676 closed

[2018-12-05 17:06] richpomfret commented on #1695
@sudaraka94 can you take a look at this and fix?

[2018-12-06 14:52] PatReynolds commented on #1433
I agree a new record type (Confirmation Register?) is needed.

[2018-12-06 14:54] PatReynolds opened #1701 "How Confirmation records are searched for"
needs #1433

How will confirmations be found?  In a search for baptism?  Or will there be a tickybox for confirmation?  If there is a tickybox for confirmation, will it include adult baptisms (and if so, will adult baptisms be included in baptisms, too).

[2018-12-06 15:00] PatReynolds commented on #674
Sandra also points out that the bonds serve as a check on transcription quality of marriages.
Not sure what you mean by 'a separate application' @Captainkirkdawson  Is this a new register type?  Would it be sufficient to search banns, bonds and marriages with the 'marriages' or is something else needed?

[2018-12-06 15:17] Captainkirkdawson commented on #674
A marriage contract or marriage licence is a separate document. It has more similarities to a will or probate than to a parish register document. Hence it should be addressed through an app designed to support that type of document just like we are proposing for a will. It should be a new Project.

[2018-12-06 15:33] Captainkirkdawson commented on #1433
If this is the decision then we need an epic story for the recreation of a new record type. The latter (the epic) is a story of a size 20.

The actual creation of a new record type is of size 100. It is a major undertaking. and needs to be added to the Roadmap as part of Verson 2.0

[2018-12-06 15:39] PatReynolds commented on #1433
Now not sure of the difference between an event type, register type and record type.  Discussion in person probably helpful.

[2018-12-06 15:41] #647 closed

[2018-12-06 16:09] AlOneill commented on #1442
There is an outstanding query about the Notes field — link is to the Baptisms page, but also applies to other record types.

See: https://test3.freereg.org.uk/cms/information-for-transcribers/flexible-csv-format-draft/extended-baptism-fields-draft#bapAN

[2018-12-06 16:50] SteveBiggs commented on #1442
I would say the answer is no. Leave that comment out as it could cause confusion.

[2018-12-06 16:56] SteveBiggs commented on #1701
Re: "will adult baptisms be included in baptisms" - yes, all baptisms in a register are included in baptisms regardless of age.

[2018-12-06 18:21] Captainkirkdawson commented on #1433
@PatReynolds  The linked documented extracted from our data model work on RAP may help any discussion
https://docs.google.com/document/d/1jjpjSGmuaqZsQ0V-7zJm4pU9xUrOEf7ojPB26IotpJU/edit#

[2018-12-06 18:36] Captainkirkdawson commented on #1433
Event type and record type are one and the same and operate within a specific document type. A document type is a super-set if you will. FreeBMD works on documents types of Civil Registrations. FreeCEN  works on Census document types. FreeREG set out to work on Paris Register documents. That was generalized to Religious Institutions and has been push somewhat beyond that. Wills are another type of

[2018-12-06 20:34] #1665 closed

[2018-12-06 21:07] Sherlock21 commented on #1701
If you mix up Conformations with Baptisms, then you will get into a mess.

My view is that they are different events and as such, should be kept separate.

[2018-12-07 15:15] Captainkirkdawson opened #1702 "[production][image_server_groups#upload_return] NoMethodError: undefined method `source' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/56297e8be93790333a000009/problems/5c09b310e937909284bc5ca3)
Likely caused by a bot but need better trap

[2018-12-07 15:30] AlOneill commented on #1442
@Captainkirkdawson Thank you — looks good.

@SteveBiggs Thank you. Will begin clean-up of new pages.

[2018-12-07 17:45] AlOneill commented on #1256
@PatReynolds This edit is now done (on test3), combined with updates to the page required by adding the 4 new pages of #1442.

The draft version of "Information for transcribers" has been deleted (out of date).

Suggest that when a DRAFT page is created from an existing page, it is **placed next to the original** in the Refinery listing, so that it does not get overlooked by a second person who ma

[2018-12-07 17:56] AlOneill commented on #1442
@Captainkirkdawson The 4 new pages are now ready for syncing, as are the other pages in the (Transcriber) Help section that required menu updates.

Please note that the edit required by #1226 has been done as part of the above.

[2018-12-07 19:01] Captainkirkdawson commented on #1442
@PatReynolds @richpomfret @lemon-ukgen

Rather than my doing a one off would it not be far better to use this as an opportunity to have you ans lemon test the syncing task envisaged as part of #1371

[2018-12-08 20:49] Captainkirkdawson commented on #1350
@PatReynolds  @richpomfret  @SteveBiggs Have the basic code mapped out but there are some questions.
1. Is this a capability that is to be available for all members not just transcribers?
2. Do we wish to the member who initiates a communication to be able to manage multiple communications in the same manner as we now do with messages. ie multiple communications active at one time; replies to be a